<script type="text/javascript">
  $('service_record_search_query').focus()
</script>

<div class="box search_form">
  <%= form_for 'search', select_patient_session_service_records_path(@session.patient.id, @session.id), :method => :get, :remote => true do |f| %>
    <%= f.label 'query', 'Leistung' %>
    <%= f.text_field :query, :label => "Suche", :size => 15, :autocomplete => 'off', :id => 'service_record_search_query' %>

    <%= image_submit_tag 'find.png', :title => 'Suchen' %>
  <% end %>

  <div id="session_<%= @session.id %>_search_results"></div>
</div>
