<table class="list">
<%= render :partial => 'service_records/list_header' %>
<%= render :partial => 'service_records/item', :collection => items %>
<% unless items.empty? %>
  <tr>
    <th style="text-align: left" colspan="3"><%= duration(items) %></th>
    <th style="text-align: left"><%= items.size %>&nbsp;Positionen</th>
    <th style="text-align: right"><%= sprintf('%.2f', items.collect {|item| item.amount_mt}.sum) %>&nbsp;AL</th>
    <th style="text-align: right"><%= sprintf('%.2f', items.collect {|item| item.amount_tt}.sum) %>&nbsp;TL</th>
    <th style="text-align: right"><%= sprintf('%.2f', items.collect {|item| item.amount}.sum) %>&nbsp;CHF</th>
    <th />
  </tr>
<% end %>
</table>
