<tr style="cursor: pointer" onclick="window.location='<%= patient_path(item) %>'">
  <td><b><%=h item.full_name %></b></td>
  <td><%= address(item.vcard, ', ') %></td>
  <td style="text-align: right"><%=h item.doctor_patient_nr %></td>
  <td style="text-align: right"><%=h item.birth_date %></td>
  <td><%= link_to t_action(:trim_patient), covercard_update_path(item, @covercard_patient.to_param) %></td>
</tr>
