= simple_form_for resource do |f|
  %h3 Rechnungs Vorgaben
  .row-fluid
    .span4= f.input 'invoices.defaults.biller_id', :as => :setting_select, :collection => Employee.by_role('doctor').collect{|e| [e.to_s, e.id]}
    .span4= f.input 'invoices.defaults.provider_id', :as => :setting_select, :collection => Employee.by_role('doctor').collect{|e| [e.to_s, e.id]}

  %h3 Rechnung
  .row-fluid
    .span4= f.input 'invoices.payment_period', :as => :setting_string
    .span4= f.input 'invoices.grace_period', :as => :setting_string

  %h3 1. Mahnung
  .row-fluid
    .span4= f.input 'invoices.reminders.1.payment_period', :as => :setting_string
    .span4= f.input 'invoices.reminders.1.grace_period', :as => :setting_string
    .span4= f.input 'invoices.reminders.1.fee', :as => :setting_string

  %h3 2. Mahnung
  .row-fluid
    .span4= f.input 'invoices.reminders.2.payment_period', :as => :setting_string
    .span4= f.input 'invoices.reminders.2.grace_period', :as => :setting_string
    .span4= f.input 'invoices.reminders.2.fee', :as => :setting_string

  %h3 3. Mahnung
  .row-fluid
    .span4= f.input 'invoices.reminders.3.payment_period', :as => :setting_string
    .span4= f.input 'invoices.reminders.3.grace_period', :as => :setting_string
    .span4= f.input 'invoices.reminders.3.fee', :as => :setting_string

  .form-actions
    = f.button :submit
