<%= javascript_tag "$('treatment_date_begin').focus(); $('treatment_date_begin').select()" %>
<div id="treatment_form">
  <%= semantic_form_for [:patient, @treatment], :remote => true do |form| %>
    <%= form.inputs do %>
      <%= form.input :date_begin, :as => :date_field, :input_html => {:size => 12} %>
      <%= form.input :date_end, :as => :date_field, :input_html => {:size => 12} %>
      <%= form.fields_for :law do |law| %>
        <%= law.input :code, :collection => [['KVG', 'LawKvg'], ['UVG', 'LawUvg'], ['IVG', 'LawIvg'], ['MVG', 'LawMvg'], ['VVG', 'LawVvg'], ['ORG', 'LawOrg']], :include_blank => false %>
      <% end %>
      <%= form.input :reason, :collection => ['Krankheit', 'Mutterschaft', 'Prävention', 'Unfall', 'Geburtsfehler'], :include_blank => false %>
      <%= form.input :place_type, :collection => ['Praxis', 'Spital'] %>
      <%= form.input :referrer %>
    <% end %>

    <%= form.buttons do %>
      <%= form.commit_button :button_html => {:class => "icon icon-save"} %>
    <% end %>
  <% end %>
</div>
