<div id="treatment_form">
  <% semantic_remote_form_for [:patient, @treatment] do |form| %>
    <%= form.semantic_errors :date_begin, :date_end %>

    <% form.inputs do %>
      <%= form.input :date_begin_formatted, :input_html => {:size => 12} %>
      <%= form.input :date_end_formatted, :input_html => {:size => 12} %>
      <li>
        <label for="law[name]">Gesetz</label>
        <%= select 'law', :name, [['KVG', LawKvg], ['UVG', LawUvg], ['IVG', LawIvg], ['MVG', LawMvg], ['VVG', LawVvg], ['ORG', LawOrg]] %>
      </li>
      <%= form.input :reason, :collection => ['Krankheit', 'Mutterschaft', 'Prävention', 'Unfall', 'Geburtsfehler'] %>
      <%= form.input :place_type, :collection => ['Praxis', 'Spital'] %>
    <% end %>

    <% form.buttons do %>
      <%= form.submit "Speichern" %>
    <% end %>
  <% end %>
</div>
