<%= javascript_tag "$('treatment_date_begin').focus(); $('treatment_date_begin').select()" %>
<div id="treatment_form">
  <% semantic_remote_form_for [:patient, @treatment] do |form| %>
    <% form.inputs do %>
      <%= form.input :date_begin, :as => :date_field, :input_html => {:size => 12} %>
      <%= form.input :date_end, :as => :date_field, :input_html => {:size => 12} %>
      <li class="required">
        <label for="law[name]">Gesetz</label>
        <%= select 'law', :name, [['KVG', LawKvg], ['UVG', LawUvg], ['IVG', LawIvg], ['MVG', LawMvg], ['VVG', LawVvg], ['ORG', LawOrg]] %>
      </li>
      <%= form.input :reason, :collection => ['Krankheit', 'Mutterschaft', 'Prävention', 'Unfall', 'Geburtsfehler'] %>
      <%= form.input :place_type, :collection => ['Praxis', 'Spital'] %>
    <% end %>

    <% form.buttons do %>
      <%= form.submit "Speichern", :class => "icon icon-save" %>
    <% end %>
  <% end %>
</div>
