<tr id="invoice_<%= item.id %>">
  <td><%= link_to item.patient.full_name, item.patient %></td>
  <td><%=h item.date_begin.strftime('%d.%m.%Y') if item.date_begin%></td>
  <td><%=h item.law.name if item.law %></td>
  <td><%=h item.reason %></td>
  <td style="text-align: right"><%=h currency_fmt(item.amount.currency_round) %></td>
  <td>
    <%= link_to_remote image_tag('delete.png'), {:url => treatment_path(item, :context => 'list'), :method => :delete, :confirm => "Behandlung #{item.to_s} löschen?"}, :title => 'Löschen' %>
  </td>
</tr>
