- cache [I18n.locale, @treatment.cache_key] do
  = render 'treatments/show_main'

  #new_treatment_invoice

  - if @treatment.medical_cases.present?
    %h3= t('cydoc.title.medical_cases')
    %table.table
      = render @treatment.medical_cases

  #treatment_sessions
    .contextual
      = icon_link_to :new_treatment_session, new_patient_treatment_session_path(@treatment.patient, @treatment), 'remote' => true

    #treatment_session_list
      = render 'sessions/list', :collection => @treatment.sessions
    %h4#treatment_service_list_total
      = t_attr(:amount, Treatment)
      = currency_fmt(@treatment.amount)

- content_for :sidebar do
  = render 'patients/sidebar', :resource => resource.patient
