- cache [I18n.locale, @treatment.cache_key] do
  = render 'treatments/show_main'

  #new_treatment_invoice

  %h3= t('cydoc.title.medical_cases')
  %table.table
    = render @treatment.medical_cases

  #treatment_sessions
    .contextual
      = icon_link_to :new_treatment_session, new_patient_treatment_session_path(@treatment.patient, @treatment), 'remote' => true
    %h3= t('cydoc.title.treatment_sessions')
    #treatment_session_list.box
      = render :partial => 'sessions/list', :object => @treatment.sessions
    %h4#treatment_service_list_total
      = t_attr(:amount, Treatment)
      = currency_fmt(@treatment.amount)
