<div class="contextual">
  <%= link_to_remote "Ändern", {:url => edit_treatment_path(@treatment), :method => :get}, :class => "icon icon-edit" %>
  <%= link_to "Rechung stellen", new_patient_treatment_invoice_path(@patient, @treatment), :class => "icon icon-add" %>
</div>

<h3>Behandlung</h3>
<div class="box" id="treatment-<%= @treatment.id %>">
<table style="width: 100%">
  <tr>
    <th>Patient:</th><td><%= full_address(@treatment.patient.vcard, ', ') %></td>
    <th>Gesetz:</th><td><%= @treatment.law.name if @treatment.law %></td>
  </tr>
  <tr>
    <th>Behandlung von:</th><td><%= @treatment.date_begin.strftime('%d.%m.%Y') if @treatment.date_begin %></td>
    <th>Erbringungsort:</th><td><%= @treatment.place_type %></td>
  </tr>
  <tr>
    <th>Behandlung bis:</th><td><%= @treatment.date_end.strftime('%d.%m.%Y') if @treatment.date_end %></td>
    <th>Behandlungsgrund:</th><td><%= @treatment.reason %></td>
  </tr>
  <tr>
    <th>Zuweisender Arzt:</th><td><%= @treatment.referrer.to_s if @treatment.referrer %></td>
  </tr>
</table>
</div>

<div class="contextual">
  <%= link_to_remote "Neue Diagnose", {:url => new_patient_treatment_medical_case_path(@patient, @treatment), :method => :get}, :class => "icon icon-add" %>
</div>
<h3>Diagnosen</h3>
<div id="treatment_<%= @treatment.id %>_medical_cases_list" class="box">
  <%= render :partial => 'medical_cases/list', :locals => {:items => @treatment.medical_cases} %>
</div>

<div class="contextual">
  <%= link_to_remote "Neue Konsultation", {:url => new_patient_treatment_session_path(@patient, @treatment), :method => :get}, :class => "icon icon-add" %>
</div>
<h3>Leistungen</h3>
<div id="session_list" class="box">
  <%= render :partial => 'sessions/list', :object => @treatment.sessions %>

  <h4>Total CHF <%= @treatment.sessions.collect{|s| s.service_records}.flatten.sum(&:amount).to_f.currency_round %></h4>
</div>
