<% cache [I18n.locale, @treatment.cache_key] do %>
<div class="contextual">
  <%= link_to_remote t('cydoc.actions.update'), {:url => edit_treatment_path(@treatment), :method => :get}, :class => "icon icon-edit" %>
  <% if @treatment.chargeable? %>
    <%= link_to_remote t('cydoc.actions.new_invoice'), {:url => new_patient_treatment_invoice_path(@treatment.patient, @treatment), :method => :get}, :class => "icon icon-add" %>
  <% end %>
  <% if @treatment.open? -%>
    <%= link_to_remote t('cydoc.actions.delete'), {:url => treatment_path(@treatment), :method => :delete, :confirm => t('cydoc.actions.delete_treatment', :treatment => @treatment.to_s)}, :class => "icon icon-delete" %>
  <% end -%>
</div>

<%= render :partial => 'treatments/show_main' %>

<div id="new_treatment_invoice"></div>

<div id="treatment_medical_cases">
  <div class="contextual">
  <% if @treatment.open? -%>
    <%= link_to_remote t('cydoc.actions.new_medical_case'), {:url => new_patient_treatment_medical_case_path(@treatment.patient, @treatment), :method => :get}, :class => "icon icon-add" %>
  <% end -%>
  </div>
  <h3><%= t('cydoc.title.medical_cases') %></h3>
  <div class="box">
    <div id="treatment_new_medical_case">
      <% if @treatment.medical_cases.empty? %>
        <%= render :partial => 'medical_cases/form' %>
      <% end %>
    </div>
    <table id="treatment_medical_case_list" style="width: 100%">
      <%= render :partial => 'medical_cases/item', :collection => @treatment.medical_cases %>
    </table>
  </div>
</div>

<div id="treatment_sessions">
  <div class="contextual">
    <%= link_to_remote t('cydoc.actions.new_treatment_session'), {:url => new_patient_treatment_session_path(@treatment.patient, @treatment), :method => :get}, :class => "icon icon-add" %>
  </div>
  <h3><%= t('cydoc.title.treatment_sessions') %></h3>
  <div id="treatment_session_list" class="box">
    <%= render :partial => 'sessions/list', :object => @treatment.sessions %>
  </div>

  <h4 id="treatment_service_list_total"><%= t_attr(:amount, Treatment) %> <%= currency_fmt(@treatment.amount) %></h4>
</div>
<% end %>
