<div id="session_<%= item.id %>">
  <div class="contextual">
  <% if item == item.treatment.sessions.first %>
    <%= link_to_remote "Leistung erfassen", {:update => "new_session_#{item.id}_service_record", :url => new_patient_session_service_record_url(@patient, item), :method => :get}, :class => "icon icon-add" %>
  <% end %>
  </div>

  <% @session = item %>
  <h4><%= in_place_editor_field :session, :date %>: <%= item.remarks.blank? ? "Konsultation" : item.remarks %></h4>

  <div id="new_session_<%= item.id %>_service_record">
  <% if item == item.treatment.sessions.first %>
    <%= render :partial => 'service_records/form' %>
  <% end %>
  </div>

  <table class="session">
    <% for service_record in item.service_records %>
      <tr>
        <td style="text-align: right"><b><%=h sprintf('%g', service_record.quantity) %>x</b></td>
        <td style="width: 6em"><b><%=h service_record.code %></b>:</td>
        <td><%=h service_record.text %></td>
        <% if item == item.treatment.sessions.first %>
        <td><span><%= link_to_remote image_tag('delete.png'), {:url => patient_session_service_record_path(@patient, item, service_record), :method => :delete} %></span></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
