<% editable = @invoice.nil? %>
<% current = item == item.treatment.sessions.first %>

<div id="session_<%= item.id %>">
  <% if editable %>
  <div class="contextual">
    <%= link_to_remote "Leistung erfassen", {:url => new_patient_session_service_record_url(@patient, item), :method => :get}, :class => "icon icon-add" %>
    <%= link_to_remote "Kons löschen", {:url => patient_session_url(@patient, item), :method => :delete}, :class => "icon icon-delete" %>
  </div>
  <% end %>

  <%
    @session = item
    @patient = item.treatment.patient
   %>
  <h4>
    <% if editable %>
      <%= in_place_editor_field :session, :date %>: <%= item.remarks.blank? ? "Konsultation" : item.remarks %>
    <% else %>
      <%= @session.date %>: <%= item.remarks.blank? ? "Konsultation" : item.remarks %>
    <% end %>
  </h4>

  <div id="new_session_<%= item.id %>_service_record" class="new_session_service_record">
    <%= render :partial => 'service_records/form' if editable and current %>
  </div>

  <table class="session">
    <% for service_record in item.service_records %>
      <% @service_record = service_record %>
      <tr>
        <td style="width: 2em; text-align: right">
        <% if editable %>
          <b><%= in_place_editor_field :service_record, :quantity, {}, :size => 3 %>x</b>
        <% else %>
          <b><%=h @service_record.quantity %>x</b>
        <% end %>
        </td>
        <td style="width: 6em"><%=h service_record.code %></td>
        <td>
        <% if editable %>
          <%= "(#{in_place_editor_field :service_record, :ref_code, {}, :size => 8}) " unless @service_record.ref_code.blank? %>
        <% else %>
          <%=h "(#{@service_record.ref_code}) " unless @service_record.ref_code.blank? %>
        <% end %>
        <%=h service_record.text %>
        </td>
        <% if editable %>
        <td><span><%= link_to_remote image_tag('delete.png'), {:url => patient_session_service_record_path(@patient, item, service_record), :method => :delete} %></span></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
