- editable = item.active? and @invoice.nil?

- editable = true
- current = item == item.treatment.sessions.first
%div[item]
  - if editable
    .contextual
      = icon_link_to :delete, patient_session_url(item.patient, item), :method => :delete, :confirm => t_confirm_delete(item), :remote => true
  %h4
    = item.date
    \: #{item.remarks.blank? ? "Konsultation" : item.remarks}
  .new_session_service_record{:id => "new_session_#{item.id}_service_record"}
    = render 'service_records/form', :session => item if editable and current

  = render 'sessions/service_records', :session => item
