.service_records.list.well
  = simple_form_for 'search', :url => select_patient_session_service_records_path(session.patient, session), :method => :get, :remote => true, :html => {:class => 'no-well'} do |f|
    = render 'sessions/new_service_record_form', :f => f

  = simple_form_for [session.treatment, session], :remote => true, :html => {:class => 'no-well'} do |f|
    %table.table.table-condensed
      = f.fields_for :service_records, :wrapper => :inline do |s|
        %tr[s.object]
          %td= s.object.date.to_date
          %td
            = s.input :quantity, :as => :string, :input_html => {:style => "width: 3em; text-align: right"}
          %td
            = s.object.code
            - if s.object.needs_ref_code?
              %br
              = s.input :ref_code, :placeholder => 'Referenzcode'
          %td
            = s.object.remark
          %td{:style => "text-align: right"}
            %b= s.object.amount
          %td
            = link_to image_tag('delete.png'), [session.patient, session, s.object], :method => :delete, :remote => true

    = f.button :submit
