#patient-personal
  .contextual
    = link_to t('cydoc.actions.update'), edit_patient_path(@patient), :remote => true, :class => "icon icon-edit"
    = link_to t('cydoc.actions.covercard_update'), covercard_update_path(@patient, @patient.covercard_code), :class => "icon icon-edit" unless @patient.covercard_code.blank?
    = link_to t('cydoc.actions.delete'), patient_path(@patient), :method => :delete, :remote => true, :confirm => t_confirm_delete(@patient), :class => "icon icon-delete" if @patient.deletable?
    = link_to t('cydoc.actions.kg_label'), print_full_label_patient_path(@patient), :method => :post, :remote => true, :class => "icon icon-print"
    = link_to t('cydoc.actions.address_label'), print_label_patient_path(@patient), :method => :post, :remote => true, :class => "icon icon-print"
  %h3= t('cydoc.title.personal_data')
  .box
    - @vcard = @patient.vcard
    %table{:style => "width: 100%"}
      %tr
        %th{:rowspan => "3", :style => "width: 15%; vertical-align: top"}= t_attr(:address)
        %td{:rowspan => "3"}
          = @vcard.family_name
          = @vcard.given_name
          %br/
          - if @vcard.extended_address.present?
            = @vcard.extended_address
            %br/
          = @vcard.street_address
          %br/
          - if @vcard.post_office_box.present?
            = @vcard.post_office_box
            %br/
          = @vcard.postal_code
          = @vcard.locality
        %th{:style => "width: 15%"}= t_attr(:birth_date)
        %td= @patient.birth_date.blank? ? 'unbekannt' : l(@patient.birth_date)
      %tr
        %th= t_attr(:gender)
        %td= @patient.sex
      %tr
        %th= t_attr(:doctor_patient_nr)
        %td= @patient.doctor_patient_nr
      %tr
        %th= t_attr(:covercard_code)
        %td= @patient.covercard_code
      %tr
        %th= t_attr(:remarks)
        %td{:colspan => "3"}= @patient.remarks
