%h3= t('cydoc.title.billing_data')
.box
  %table{:style => "width: 100%"}
    %tr
      %th{:style => "width: 15%"}= t_attr(:use_billing_address)
      %td{:style => "width: 43%"}= @patient.use_billing_address ? "Ja" : "Nein"
      %th{:style => "width: 10%"}= t_attr(:dunning_stop)
      %td{:style => "width: 30%"}= @patient.dunning_stop ? "Ja" : "Nein"
    %tr
      %th= t_attr(:address)
      %td= full_address(@patient.billing_vcard, ', ')
