<% form_remote_tag( :update => 'search_result', :url => {:action => "search"} ) do %>
<table style="width: 100%">
  <tr>
    <td style="vertical-align: top" rowspan="2">
      <fieldset>
        <legend>Patienteninfo</legend>
        <table>
          <%= render :partial => '/vcards/form', :locals => { :vcard_name => 'vcard', :vcard => nil } %>
          <% fields_for 'patient', @patient, :builder => Rubaidh::TabularForm::TabularFormBuilder do |f| %>
            <%= f.text_field :birth_date, :label => "Geburtsdat.", :size => 23 %>
          <% end %>
        </table>
        <%= submit_tag "Suchen" %>
      </fieldset>
    </td>
    <td style="vertical-align: top">
      <fieldset>
        <legend>nach Untersuch</legend>
        <table>
          <% fields_for 'case', @case, :builder => Rubaidh::TabularForm::TabularFormBuilder do |f| %>
            <%= f.text_field :praxistar_eingangsnr, :label => "Eingangsnr." %>
            <%= f.text_field :entry_date, :label => "Erfassung am" %>
            <%= f.text_field :examination_date, :label => "Abstrich vom" %>
            <%= f.text_field :screened_at, :label => "Screened am" %>
            <%= f.text_field :printed_at, :label => "Gedruckt am" %>
          <% end %>
        </table>
        <%= submit_tag "Suchen" %>
      </fieldset>
    </td>
  </tr>
</table>
<% end %>
