%fieldset
  %legend
    = @patients.size
    Patienten f&uuml;r Suche nach '#{params[:query]}'
  %table.list{:style => "margin-top: 0px"}
    = render :partial => '/patients/list_header'
    = render :partial => '/patients/list', :collection => @patients
  %p= "mehr als 100 Resultate..." if @patients.size == 100
