<fieldset>
<legend><%= @patients.size %> Patienten f&uuml;r Suche nach '<%= params[:query] || params[:search][:query] %>'</legend>
  <table class="listing" style="margin-top: 0px">
    <%= render :partial => '/patients/list_head' %>
    <%= render :partial => '/patients/list', :collection => @patients %>
  </table>
  <p><%= "mehr als 100 Resultate..." if @patients.size == 100 %></p>
</fieldset>

<fieldset>
<legend><%= @cases.size %> Resultate f&uuml;r Suche nach '<%= params[:query] || params[:search][:query] %>'</legend>
  <table class="listing" style="margin-top: 0px">
    <%= render :partial => '/cases/list', :collection => @cases %>
  </table>
  <p><%= "mehr als 100 Resultate..." if @cases.size == 100 %></p>
</fieldset>
