<div id="biller" class="block">
  <h3>Rechnungssteller</h3>
  <%= full_address(@invoice.biller.vcard) %>
  <br/>
  <%= contact(@invoice.biller.vcard) %>
</div>

<div id="provider" class="block">
<h3>Patient</h3>
  <%= full_address(@invoice.patient.vcard) %>
  <br/>
  Geburtsdatum <%= l(@invoice.patient.birth_date) if @invoice.patient.birth_date %>			
</div>

<div id="billingaddress" class="block">
  <%= full_address(Vcard.new(:full_name => 'Inkassostelle für Ärzte und Zahnärzte', :street_address => 'Postfach 800', :postal_code => '2501', :locality => 'Biel')) %>
</div>
