= simple_form_for [:patient, :treatment, @invoice] do |form|
  - unless @invoice.valid?
    = boot_alert(:error) do
      %ul
        - @invoice.errors.full_messages.each do |message|
          %li= message

  .row-fluid
    .span6= form.input :value_date, :as => :date_field, :input_html => {:autocomplete => 'off'}
  .row-fluid
    = form.fields_for :tiers do |t|
      .span6= t.association :biller, :collection => Employee.by_role('doctor'), :placeholder => 'Bitte wählen', :input_html => {:class => 'select2'}
      .span6= t.association :provider, :collection => Employee.by_role('doctor'), :placeholder => 'Bitte wählen', :input_html => {:class => 'select2'}
  .row-fluid
    .span10= form.input :remark, :input_html => {:rows => 2, :class => 'span12'}

  .form-actions
    = form.button :submit, "Erstellen"

= render 'treatments/show_main'
= render 'invoices/medical_case_list'
= render 'invoices/service_record_list'
