<h3>Neue Rechnung</h3>
<%= error_messages_for :invoice %>

<div class="box">
  <% remote_form_for [:patient, :treatment, @invoice], :builder => Rubaidh::TabularForm::TabularFormBuilder do |invoice| %>
    <table>
      <%= invoice.text_field :value_date, :label => 'Rechnungsdatum', :size => 12 %>
      <tr>
        <td><label for="tiers[name]">Vergütungsart:</label></td>
        <td><%= select 'tiers', :name, [['Tiers Garant', TiersGarant], ['Tiers Payant', TiersPayant]] %></td>
      </tr>
      <%= invoice.text_area :remark, :rows => 2, :label =>  'Bemerkungen' %>
      <%= invoice.submit "Drucken" %>
      <%= invoice.submit "Zum Druck freigeben" %>
    </table>
  <% end %>
</div>

<%= render :partial => 'treatments/show' %>
