<%= render :partial => 'treatments/show_main' %>

<div id="invoice_form">
  <h3>Neue Rechnung</h3>
  <%= error_messages_for :invoice %>

  <div class="box">
    <% semantic_remote_form_for [:patient, :treatment, @invoice] do |form| %>
      <% form.inputs do %>
        <%= form.input :value_date, :as => :date_field, :input_html => {:size => 12, :autocomplete => 'off'} %>
        <li class="select required">
          <label for="tiers[name]">Vergütungsart</label>
          <%= select 'tiers', :name, [['Tiers Garant', TiersGarant], ['Tiers Soldant', TiersSoldant], ['Tiers Payant', TiersPayant]] %>
        </li>
        <%= form.input :remark, :input_html => {:rows => 2} %>
      <% end %>
      
      <% form.buttons do %>
        <%= form.submit "Erstellen", :class => "icon icon-save" %>
        <%= button_to_function "Abbrechen", "showTab('treatments')", :class => "icon icon-cancel" %>
      <% end %>
    <% end %>
  </div>
</div>

<%= render :partial => 'invoices/medical_case_list' %>
<%= render :partial => 'invoices/service_record_list' %>
