<h3>Neue Rechnung</h3>
<%= error_messages_for :invoice %>

<div class="box">
  <% form_for [:patient, @invoice], :builder => Rubaidh::TabularForm::TabularFormBuilder do |invoice| %>
    <table>
      <%= invoice.text_field :date, :label => 'Datum', :size => 12 %>
      <tr>
        <th>Gesetz:</th>
        <td><%= select 'law', :name, [['KVG', LawKvg], ['UVG', LawUvg], ['IVG', LawIvg], ['MVG', LawMvg], ['VVG', LawVvg], ['ORG', LawOrg]] %></td>
      </tr>
      <tr>
        <th>Behandlungsgrund:</th>
        <td><%= select 'treatment', :reason,  ['Krankheit', 'Mutterschaft', 'Prävention', 'Unfall', 'Geburtsfehler'] %></td>
      </tr>
      <%= invoice.text_area :remark, :rows => 2, :label =>  'Bemerkungen' %>
      <%= invoice.submit "Erstellen" %>
    </table>
  <% end %>
</div>
