#invoice_form
  %h3 Neue Rechnung
  = simple_form_for [:patient, :treatment, @invoice] do |form|
    = form.input :value_date, :as => :date_field, :input_html => {:autocomplete => 'off'}
    = form.fields_for :tiers do |t|
      = t.association :biller, :input_html => {:class => 'select2'}
      = t.association :provider, :input_html => {:class => 'select2'}
    = form.input :remark, :input_html => {:rows => 2}

    .form-actions
      = form.button :submit, "Erstellen"

= render 'treatments/show_main'
= render 'invoices/medical_case_list'
= render 'invoices/service_record_list'
