<table style="width: 100%">
  <tr>
    <td class="subhead" style="width:1.2cm"><span class="bullet">&#9632;</span>&nbsp;PFL</td>
    <td class="list" style="width:1.3cm">Tarmed&nbsp;AL</td>
    <td class="amount" style="width:1.7cm"><%=h sprintf('%0.2f', @invoice.amount_mt("001").currency_round) %></td>
    <td class="amount" style="width:1.3cm">(<%=h sprintf('%0.2f', @invoice.amount_mt("001") / 0.89 ) %>)</td>
    <td style="width:1cm" />
    <td class="list" style="width:1.3cm">Physio</td>
    <td class="amount" style="width:1.7cm">0.00</td>
    <td style="width:1.2cm" />
    <td class="list" style="width:1.3cm">MiGel</td>
    <td class="amount" style="width:1.5cm"><%=h sprintf('%0.2f', @invoice.amount_tt(MigelTariffItem.tariff_type).currency_round) %></td>
    <td style="width:1.3cm" />
    <td class="list" style="width:1.9cm">&Uuml;brige</td>
    <td class="amount" style="width:1.7" style="text-align: right">0.00</td>
    <td />
  </tr>
  <tr>
    <td style="width:1.2cm" />
    <td class="list" style="width:1.3cm">Tarmed&nbsp;TL</td>
    <td class="amount" style="width:1.7cm"><%=h sprintf('%0.2f', @invoice.amount_tt(TarmedTariffItem.tariff_type).currency_round) %></td>
    <td class="amount" style="width:1.3cm">(<%=h sprintf('%0.2f', @invoice.amount_tt(TarmedTariffItem.tariff_type) / 0.89) %>)</td>
    <td style="width:1cm" />
    <td class="list" style="width:1.3cm">Labor</td>
    <td class="amount" style="width:1.7cm"><%=h sprintf('%0.2f', (@invoice.amount("316") + @invoice.amount("317")).currency_round) %></td>
    <td style="width:1.2cm" />
    <td class="list" style="width:1.3cm">Medi</td>
    <td class="amount" style="width:1.5cm"><%=h sprintf('%0.2f', @invoice.amount_tt(DrugTariffItem.tariff_type).currency_round) %></td>
    <td style="width:1.3cm" />
    <td class="list" style="width:1.9cm">Kantonal</td>
    <td class="amount" style="width:1.7" style="text-align: right">0.00</td>
    <td />
  </tr>
  <tr>
    <td colspan="2" class="subhead" style="width:2.5cm"	><span class="bullet">&#9632;</span>&nbsp;Gesamtbetrag/CHF</td>
    <td class="totalamount" style="width:1.7cm"><%=h sprintf('%0.2f', @invoice.amount.currency_round) %></td>
    <td style="width:1.3cm"></td>
    <td />
    <td class="subhead" style="width:1.3cm">davon&nbsp;PFL</td>
    <td class="totalamount"><%=h sprintf('%0.2f', @invoice.amount.currency_round) %></td>
    <td />
    <td class="subhead">Anzahlung</td>
    <td class="totalamount">0.00</td>
    <td />
    <td class="subhead">F&auml;lliger&nbsp;Betrag</td>
    <td class="totalamount"><%=h sprintf('%0.2f', @invoice.amount.currency_round) %></td>
  </tr>
  <tr>
    <td colspan="3" class="subhead"><span class="bullet">&#9632;</span>&nbsp;MWSt.Nr.</td>
  </tr>
  <tr>
    <td class="subhead">Code</td>
    <td class="subhead">Satz</td>
    <td class="subhead">Betrag</td>
    <td class="subhead">MWSt</td>
  </tr>
  <tr>
    <td class="text-align: right"><span class="bullet">&#9632;</span>&nbsp;0</td>
    <td>0.00</td>
    <td><%=h sprintf('%0.2f', @invoice.amount) %></td>
    <td>0.00</td>
  </tr>
  <tr>
    <td class="total">Total</td>
    <td></td>
    <td class="totalamount" style="text-align: left"><%=h sprintf('%0.2f', @invoice.amount.currency_round) %></td>
    <td class="totalamount" style="text-align: left">0.00</td>
  </tr>
</table>
