<div id="info" class="block">
  <h2>Patientenrechnung Nr. <%= @invoice.id %></h2>
  <table>
    <tr>
      <th>Rechnungsdatum:</th><td><%=l @invoice.date %></td>
    </tr>
    <tr>
      <th>Zahlbar bis:</th><td><%=l @invoice.due_date %></td>
    </tr>
    <tr>
      <th>Behandlungen von:</th><td><%=l @invoice.date_begin %></td>
    </tr>
    <tr>
      <th>Behandlungen bis:</th><td><%=l @invoice.date_end %></td>
    </tr>
  </table>
</div>
