<div id="info" class="block">
  <h2>Patientenrechnung Nr. <%= @invoice.id %></h2>
  <table>
    <tr>
      <th>Rechnungsdatum:</th><td><%= @invoice.date.strftime('%d.%m.%Y') %></td>
    </tr>
    <tr>
      <th>Zahlbar bis:</th><td><%= @invoice.due_date.strftime('%d.%m.%Y') %></td>
    </tr>
    <tr>
      <th>Behandlungen von:</th><td><%= @invoice.date_begin.strftime('%d.%m.%Y') %></td>
    </tr>
    <tr>
      <th>Behandlungen bis:</th><td><%= @invoice.date_end.strftime('%d.%m.%Y') %></td>
    </tr>
  </table>
</div>
