<div id="info" class="block">
  <h2><%= t_attr(:id) %> <%= @invoice.id %></h2>
  <table>
    <tr>
      <th><%= t_attr(:date) %>:</th><td><%=l @invoice.date %></td>
    </tr>
    <tr>
      <th><%= t_attr(:due_date_till) %>:</th><td><%=l @invoice.due_date %></td>
    </tr>
    <tr>
      <th><%= t_attr(:date_begin) %>:</th><td><%=l @invoice.date_begin %></td>
    </tr>
    <tr>
      <th><%= t_attr(:date_end) %>:</th><td><%=l @invoice.date_end %></td>
    </tr>
  </table>
</div>
