<tr style="cursor: pointer" onclick="window.location='<%= invoice_path item %>'">
  <td><b/><%=h item.patient.full_name %></b></td>
  <td><%=h item.date %></td>
  <td style="text-align: right"><%=h item.id %></td>
  <td style="text-align: right"><%=h sprintf("%0.2f", item.rounded_amount) %></td>
  <td><%=h item.state %></td>
  <td>
    <%= link_to "Drucken", print_invoice_path(item), :method => :post %>
<!--
    <%= link_to image_tag('delete.png'), invoice_path(item), :method => :delete %>
    <%= link_to "KK-Beleg", insurance_recipe_invoice_path(item) %>
    <%= link_to "KK-Beleg PDF", formatted_insurance_recipe_invoice_path(item, :pdf) %>
-->
  </td>
</tr>
