<tr id="invoice_<%= item.id %>">
  <td><%= link_to item.patient.full_name, item.patient %></td>
  <td><%=h item.date %></td>
  <td style="text-align: right"><%= link_to item.id, item %></td>
  <td style="text-align: right"><%=h sprintf("%0.2f", item.rounded_amount) %></td>
  <td><%=h item.state %></td>
  <td>
    <%= link_to "Drucken", print_invoice_path(item), :method => :post %>
    <%= link_to_remote image_tag('delete.png'), {:url => invoice_path(item), :method => :delete, :confirm => "Rechnung #{item.to_s} löschen?"} %>
<!--
    <%= link_to "KK-Beleg", insurance_recipe_invoice_path(item) %>
    <%= link_to "KK-Beleg PDF", formatted_insurance_recipe_invoice_path(item, :pdf) %>
-->
  </td>
</tr>
