<tr id="invoice_<%= item.id %>">
  <td><%= link_to item.patient.full_name, item.patient %></td>
  <td><%=h item.value_date %></td>
  <td><%=h item.due_date %></td>
  <td style="text-align: right"><%= link_to (item.imported_invoice_id.blank? ? item.id : "#{item.id} (Triamun #{item.imported_invoice_id})"), item %></td>
  <td style="text-align: right"><%=h sprintf("%0.2f", item.rounded_amount) %></td>
  <td style="text-align: right"><%=h sprintf("%0.2f", item.due_amount.currency_round) %></td>
  <td><%=t item.state, :scope => 'invoice.state' %></td>
  <td>
    <% if item.overdue? %>
      <%= link_to image_tag('print.png'), print_reminder_letter_invoice_path(item), :title => "Drucken", :method => :post %>
    <% else %>
      <%= link_to image_tag('print.png'), print_invoice_path(item), :title => "Drucken", :method => :post %>
    <% end %>
    <%= link_to_remote image_tag('delete.png'), {:url => invoice_path(item, :context => 'list'), :method => :delete, :confirm => "Rechnung #{item.to_s} stornieren?"}, :title => 'Stornieren' %>
<!--
    <%= link_to "KK-Beleg", insurance_recipe_invoice_path(item) %>
    <%= link_to "KK-Beleg PDF", insurance_recipe_invoice_path(item, :format => :pdf) %>
-->
  </td>
</tr>
