<tr style="cursor: pointer" onclick="window.location='<%= invoice_path item %>'">
  <td><b/><%=h item.patient.full_name %></b></td>
  <td><%=h item.date %></td>
  <td style="text-align: right"><%=h item.id %></td>
  <td style="text-align: right"><%=h sprintf("%0.2f", item.rounded_amount) %></td>
</tr>
