<tr style="cursor: pointer" onclick="window.location='<%= invoice_path item %>'">
  <td><b/><%=h item.patient.full_name %></b></td>
  <td><%=h item.date %></td>
  <td><%=h item.id %></td>
  <td><%=h item.rounded_amount %></td>
</tr>
