<div style="position: relative">
  <div id="invoice">
    <%= render :partial => 'invoice_info' %>
    <%= render :partial => 'invoice_parties' %>

    <%= render :partial => "reminder_message" %>

    <%= render :partial => 'reminder_balance' %>
    <%= render :partial => 'reminder_vesr' %>
  </div>
<div>
