<%
  bank_account = @invoice.biller.account
  amount = (@invoice.state == 'booked') ? @invoice.due_amount : @invoice.amount.currency_round
%>

<div id="paymentfor1" class="block">
  <%= bank_account.bank.vcard.full_name %><br />
  <%= bank_account.bank.vcard.postal_code %> <%= bank_account.bank.vcard.locality %><br />
  <div style="font-size: 80%; margin-top: 0.2cm">Zugunsten von</div>
  <%= full_address(bank_account.holder.vcard) %>
</div>

<div id="account1" class="line"><%= bank_account.pc_id %></div>
<div id="paymentamount1" class="line"><%= sprintf("%.0f", @invoice.due_amount.floor.currency_round) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= sprintf("%02i", @invoice.due_amount.currency_round * 100 % 100) %></div>
<div id="paymentreference1" class="line"><%= @invoice.esr9_reference(bank_account) %></div>
<div id="paymentby1" class="block"><%= full_address(@invoice.patient.vcard) %></div>

<div id="paymentfor2" class="block">
  <%= bank_account.bank.vcard.full_name %><br />
  <%= bank_account.bank.vcard.postal_code %> <%= bank_account.bank.vcard.locality %><br />
  <div style="font-size: 80%; margin-top: 0.2cm">Zugunsten von</div>
  <%= full_address(bank_account.holder.vcard) %>
</div>

<div id="account2" class="line"><%= bank_account.pc_id %></div>
<div id="paymentamount2" class="line"><%= sprintf("%.0f", @invoice.due_amount.floor.currency_round) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= sprintf("%02i", @invoice.due_amount.currency_round * 100 % 100) %></div>
<div id="paymentby3" class="block"><%= full_address(bank_account.holder.vcard) %></div>
<div id="reference" class="line"><%= @invoice.esr9_reference(bank_account) %></div>
<div id="vesr"><%= @invoice.esr9_build(amount, @invoice.id, bank_account.pc_id, bank_account.esr_id) %></div>
