<div class="contextual">
  <%= link_to "Drucken", print_invoice_path(@invoice), :method => :post, :class => "icon icon-print" %>
  <%= link_to "Rückforderungsbeleg PDF", formatted_insurance_recipe_invoice_path(@invoice, :pdf), :method => :get, :class => "icon icon-pdf" %>
</div>

<h3>Rechnung</h3>
<div class="box">
<table style="width: 100%">
  <tr>
    <th>Rechnungsnr:</th><td><%= @invoice.id %></td>
    <th>Status:</th><td><%= @invoice.state %></td>
  </tr>
  <tr>
    <th>Patient:</th><td><%= full_address(@invoice.patient.vcard, ', ') %></td>
    <th>Vergütungsart:</th><td><%= @invoice.tiers.name %></td>
  </tr>
  <tr>
    <th>Rechnungsadressat:</th><td><%= full_address(@invoice.patient.vcard, ', ') %></td>
    <th>Gesetz:</th><td><%= @invoice.law.name %></td>
  </tr>
  <tr>
    <th>Rechnungsdatum:</th><td><%= @invoice.value_date.strftime('%d.%m.%Y') %></td>
    <th>Behandlungsgrund:</th><td><%= @invoice.treatment.reason %></td>
  </tr>
  <tr>
    <th>Zuweisender Arzt:</th><td><%= @invoice.referrer.to_s %></td>
  </tr>
</table>
</div>

<h3>Diagnosen</h3>
<div id="box">
  <div id="treatment_<%= @treatment.id %>_new_medical_case">
    <%= render :partial => 'medical_cases/form' %>
  </div>
  <table id="treatment_<%= @treatment.id %>_medical_cases" style="width: 100%">
    <%= render :partial => 'medical_cases/item', :collection => @invoice.treatment.medical_cases %>
  </table>
</div>


<div class="contextual">
  <%= link_to_remote "Manuell buchen", {:url => new_invoice_booking_path(@invoice), :method => :get}, :class => "icon icon-add" %>
</div>
<h3>Journal</h3>
<div id="booking_list">
  <%= render :partial => 'bookings/list', :object => @invoice.bookings %>
</div>

<h3>Leistungen</h3>
<div id="service_list" class="box">
  <%= render :partial => 'sessions/list', :object => @invoice.treatment.sessions %>
</div>
