<% cache [I18n.locale, @invoice.cache_key] do %>
<div id="invoice_flash" class="flash notice" style="display: none"></div>

<div class="contextual">
  <% if @invoice.overdue? or @invoice.reminded? %>
    <%= link_to_remote t('cydoc.actions.print_dunning_letter_copy'), {:url => print_reminder_letter_invoice_path(@invoice, :print_copy => true), :before => "showPrintingFlash('invoice_flash', 'Mahnkopie')"}, :class => "icon icon-print" %>
  <% end %>
  <% if @invoice.state == 'prepared' %>
    <%= link_to_remote t('cydoc.actions.print'), {:url => print_invoice_path(@invoice), :before => "showPrintingFlash('invoice_flash', '#{t_model(Invoice)}')"}, :class => "icon icon-print" %>
  <% else %>
    <%= link_to_remote t('cydoc.actions.print_copy'), {:url => print_invoice_path(@invoice, :print_copy => true), :before => "showPrintingFlash('invoice_flash', 'Rechnungskopie')"}, :class => "icon icon-print" %>
  <% end %>
  <% if @invoice.open %>
      <%= link_to_remote t('cydoc.actions.cancel'), {:url => invoice_path(@invoice), :method => :delete, :confirm => "#{t_model(Invoice)} #{@invoice.to_s} #{t('cydoc.actions.reverse')}?"}, :class => "icon icon-delete" %>
      <%= link_to_remote t('cydoc.actions.reactivate'), {:url => reactivate_invoice_path(@invoice), :confirm => "#{t_model(Invoice)} #{@invoice.to_s} #{t('cydoc.actions.reactivate')}?"}, :class => "icon icon-reactivate" %>
  <% elsif @invoice.state == 'canceled' or @invoice.state == 'written_off' %>
      <%= link_to_remote t('cydoc.actions.reactivate'), {:url => reactivate_invoice_path(@invoice), :confirm => "#{t_model(Invoice)} #{@invoice.to_s} #{t('cydoc.actions.reactivate')}?"}, :class => "icon icon-reactivate" %>
  <% end %>
  <%= link_to t('cydoc.actions.print_reclaim_pdf'), insurance_recipe_invoice_path(@invoice, :format => :pdf), :method => :get, :class => "icon icon-pdf" %>
</div>

<%= render 'invoices/show_main' %>

<div class="contextual">
  <%= link_to_remote t('cydoc.actions.book_manual'), {:url => new_invoice_booking_path(@invoice), :method => :get}, :class => "icon icon-book" %>
</div>
<h3><%= t('cydoc.title.bookings') %></h3>
<div id="invoice_booking_list">
  <%= render :partial => 'invoice_bookings/list', :object => @invoice.bookings %>
</div>

<%= render 'invoices/medical_case_list' %>
<%= render 'invoices/service_record_list' %>
<% end %>
