<% cache [I18n.locale, @invoice.cache_key] do %>
<div class="contextual">
  <% if @invoice.overdue? or @invoice.reminded? %>
    <%= link_to t('cydoc.actions.print_dunning_letter_copy'), print_reminder_letter_invoice_path(@invoice, :print_copy => true), :onclick => "showPrintingFlash('Mahnkopie')", 'data-remote' => true, 'data-method' => :post, :class => "icon icon-print" %>
  <% end %>
  <% if @invoice.state == 'prepared' %>
    <%= link_to t('cydoc.actions.print'), print_invoice_path(@invoice), :onclick => "showPrintingFlash('#{t_model(Invoice)}')", 'data-remote' => true, 'data-method' => :post, :class => "icon icon-print" %>
  <% else %>
    <%= link_to t('cydoc.actions.print_copy'), print_invoice_path(@invoice, :print_copy => true), :onclick => "showPrintingFlash('Rechnungskopie')", 'data-remote' => true, 'data-method' => :post, :class => "icon icon-print" %>
  <% end %>
  <% if @invoice.open %>
      <%= link_to t('cydoc.actions.cancel'), invoice_path(@invoice), 'data-method' => :delete, :confirm => "#{t_model(Invoice)} #{@invoice.to_s} #{t('cydoc.actions.reverse')}?", 'data-remote' => true, :class => "icon icon-delete" %>
      <%= link_to t('cydoc.actions.reactivate'), reactivate_invoice_path(@invoice), 'data-confirm' => "#{t_model(Invoice)} #{@invoice.to_s} #{t('cydoc.actions.reactivate')}?", 'data-remote' => true, 'data-method' => :post, :class => "icon icon-reactivate" %>
  <% elsif @invoice.state == 'canceled' or @invoice.state == 'written_off' %>
      <%= link_to t('cydoc.actions.reactivate'), reactivate_invoice_path(@invoice), 'data-confirm' => "#{t_model(Invoice)} #{@invoice.to_s} #{t('cydoc.actions.reactivate')}?", 'data-remote' => true, 'data-method' => :post, :class => "icon icon-reactivate" %>
  <% end %>
  <%= link_to t('cydoc.actions.print_reclaim_pdf'), insurance_recipe_invoice_path(@invoice, :format => :pdf), :class => "icon icon-pdf" %>
</div>

<%= render 'invoices/show_main' %>

<div class="contextual">
  <%= link_to t('cydoc.actions.book_manual'), new_invoice_booking_path(@invoice), 'data-remote' => true, :class => "icon icon-book" %>
</div>
<h3><%= t('cydoc.title.bookings') %></h3>
<div id="invoice_booking_list">
  <%= render :partial => 'invoice_bookings/list', :object => @invoice.bookings %>
</div>

<%= render 'invoices/medical_case_list' %>
<%= render 'invoices/service_record_list' %>
<% end %>
