<style>
#invoice {
  font-family: Arial,DejaVu Sans;
  font-size:   8pt;
  margin:      1.2cm;
}
#vesr {
  text-align:  right;
  width:       18.2cm;
  font-size:   12pt;
  font-family: ocr-b,Helvetica,Arial,sans-serif;
}
.head {
  font-size:   16pt;
  font-weight: bold;
}
.subhead {
  font-size:   7pt;
  font-weight: bold;
}
.listing {
  font-size:   7pt;
}
.total {
  font-weight: bold;
}
.amount {
  font-size:   8pt;
  text-align:  right;
}
.totalamount {
  font-size:   8pt;
  font-weight: bold;
  text-align:  right;
}
.bullet {
  font-size:   8pt;
  font-weight: none;
}
table {
  border-spacing: 0;
}
th {
  font-size:   7pt;
  font-weight: none;
}

</style>

<%
  page = 1
%>


<div id="invoice" style="width: 18.2cm; height: 26cm">
<table style="width:100%">
  <tr>
    <td class="head" style="width:13.8cm">R&uuml;ckforderungsbeleg</td>
    <td class="listing" style="width:4.7cm">Release&nbsp;<span class="bullet">&#9632;</span>&nbsp;4.0M/de</td>
    <td class="head">M</td>
  </tr>
</table>

<table style="width:18.2cm; border:thin solid black; border-bottom:none">
  <tr>
    <td class="subhead" style="width:1.8cm">Dokument</td>
    <td style="width:2.3cm"> </td>
    <td style="width:2.8cm"><span class="bullet">&#9632;</span>&nbsp;<%=h @invoice.id %></td>
    <td style="width:5.7cm"><%= @invoice.date.strftime('%d.%m.%Y') %></td>
    <td class="subhead" style="width:2cm">Seite&nbsp;<span class="bullet">&#9632;</span>&nbsp;<%=h page %></td>
  </tr>
  <tr>
    <td class="subhead" rowspan="2" style="width:1.8cm">Rechnungs-<br />steller</td>
    <td class="listing">EAN-Nr.</td>
    <td><span class="bullet">&#9632;</span>&nbsp;<%=h @invoice.biller.ean_party %></td>
    <td colspan="3" class="listing"><%=h @invoice.biller.compact_address %></td>
  </tr>
  <tr>
    <td class="listing">ZSR-Nr.</td>
    <td><span class="bullet">&#9632;</span>&nbsp;<%=h @invoice.biller.zsr %></td>
    <td colspan="3" class="listing">Tel:&nbsp;044&nbsp;272&nbsp;60&nbsp;80&nbsp;Fax:&nbsp;044&nbsp;273&nbsp;36&nbsp;60&nbsp;E-Mail:&nbsp;praxis@zyto-labor.com</td>
    <td></td>
  </tr>
  <tr>
    <td class="subhead" rowspan="2">Leistungs-<br />erbringer</td>
    <td class="listing">EAN-Nr.</td>
    <td><span class="bullet">&#9632;</span>&nbsp;<%=h @invoice.provider.ean_party %></td>
    <td class="listing"><%=h @invoice.provider.compact_address %></td>
  </tr>
  <tr>
    <td class="listing">ZSR-Nr.</td>
    <td><span class="bullet">&#9632;</span>&nbsp;<%=h @invoice.provider.zsr %></td>
    <td class="listing">Tel:&nbsp;044&nbsp;272&nbsp;60&nbsp;80&nbsp;Fax:&nbsp;044&nbsp;273&nbsp;36&nbsp;60&nbsp;E-Mail:&nbsp;praxis@zyto-labor.com</td>
    <td></td>
  </tr>
</table>
<table style="width: 100%; border:thin solid black">
  <tr>
    <td class="subhead" style="width:1.8cm">Patient</td>
    <td class="listing" style="width:2.3cm">Name</td>
    <td><span class="bullet">&#9632;</span>&nbsp;<%=h @invoice.patient.vcard.family_name %></td>
    <td class="listing">EAN-Nr.&nbsp;<span class="bullet">&#9632;</span></td>
  </tr>
  <tr>
    <td></td>
    <td class="listing">Vorname</td>
    <td><span class="bullet">&#9632;</span>&nbsp;<%=h @invoice.patient.vcard.given_name %></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td class="listing">Strasse</td>
    <td><span class="bullet">&#9632;</span>&nbsp;<%=h @invoice.patient.vcard.street_address %></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td class="listing">PLZ</td>
    <td><span class="bullet">&#9632;</span>&nbsp;<%=h @invoice.patient.vcard.postal_code %></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td class="listing">Ort</td>
    <td><span class="bullet">&#9632;</span>&nbsp;<%=h @invoice.patient.vcard.locality %></td>
    <td><%=h @invoice.patient.vcard.honorific_prefix %></td>
  </tr>
  <tr>
    <td></td>
    <td class="listing">Geburtsdatum</td>
    <td><span class="bullet">&#9632;</span>&nbsp;<%=h @invoice.patient.birth_date.strftime('%d.%m.%Y') %></td>
    <td><%=h @invoice.patient.vcard.full_name %></td>
  </tr>
  <tr>
    <td></td>
    <td class="listing">Geschlecht</td>
    <td><span class="bullet">&#9632;</span>&nbsp;<%=h @invoice.patient.sex %></td>
    <td><%=h @invoice.patient.vcard.street_address %></td>
  </tr>
  <tr>
    <td></td>
    <td class="listing">Unfalldatum</td>
    <td><span class="bullet">&#9632;</span></td>
    <td><%=h @invoice.patient.vcard.postal_code %>&nbsp;<%=h @invoice.patient.vcard.locality %></td>
  </tr>
  <tr>
    <td></td>
    <td class="listing">Unfall-/Verf&uuml;g.Nr.</td>
    <td><span class="bullet">&#9632;</span><%=h @invoice.law.case_id %></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td class="listing">AHV-Nr.</td>
    <td><span class="bullet">&#9632;</span>&nbsp;<%=h @invoice.law.ssn %></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td class="listing">Versicherten-Nr.</td>
    <td><span class="bullet">&#9632;</span>&nbsp;<%=h @invoice.patient.insurance_nr %></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td class="listing">Betriebs-Nr./-Name</td>
    <td><span class="bullet">&#9632;</span></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td class="listing">Kanton</td>
    <td><span class="bullet">&#9632;</span>&nbsp;<%=h @invoice.treatment.canton %></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td class="listing">Rechnungskopie</td>
    <td><span class="bullet">&#9632;</span>&nbsp;Ja</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td class="listing">Verg&uuml;tungsart</td>
    <td><span class="bullet">&#9632;</span>&nbsp;<%=h @invoice.tiers.name %></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td class="listing">Gesetz</td>
    <td><span class="bullet">&#9632;</span>&nbsp;<%=h @invoice.law.name %></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td class="listing">Behandlungsgrund</td>
    <td><span class="bullet">&#9632;</span>&nbsp;<%=h @invoice.treatment.reason %></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td class="listing">Behandlung</td>
    <td><span class="bullet">&#9632;</span>&nbsp;<%=h @invoice.treatment.date_begin.strftime('%d.%m.%Y') %>&nbsp;-&nbsp;<%=h @invoice.treatment.date_end.strftime('%d.%m.%Y') %></td>
    <td class="listing">Rechnungsnr.</td>
    <td><span class="bullet">&#9632;</span>&nbsp;<%=h @invoice.id %></td>
  </tr>
  <tr>
    <td></td>
    <td class="listing">Erbringungsort</td>
    <td><span class="bullet">&#9632;</span>&nbsp;<%=h @invoice.place_type %></td>
    <td class="listing">Rechnungs-/Mahndatum</td>
    <td><span class="bullet">&#9632;</span>&nbsp;<%=h @invoice.date.strftime('%d.%m.%Y') %></td>
  </tr>
  <tr>
    <td class="subhead" style="border-top:thin solid black">Auftraggeber</td>
    <td class="listing" style=" border-top:thin solid black">EAN-Nr./ZSR-Nr.</td>
    <td colspan="3" style=" border-top:thin solid black"><span class="bullet">&#9632;</span></td>
  </tr>
  <tr>
    <td class="subhead" style="border-top:thin solid black">Diagnose</td>
    <td style="border-top:thin solid black"><span class="bullet">&#9632;</span>&nbsp;Contract</td>
    <td style="border-top:thin solid black"><span class="bullet">&#9632;</span>&nbsp;A1; A4; T2; F1</td>
    <td style="border-top:thin solid black"></td>
    <td style="border-top:thin solid black"></td>
  </tr>
  <tr>
    <td class="subhead"  style="border-top:thin solid black">EAN-Liste</td>
    <td style="border-top:thin solid black"><span class="bullet">&#9632;</span>&nbsp;1/7601000203090</td>
    <td style="border-top:thin solid black"></td>
    <td style="border-top:thin solid black"></td>
    <td style="border-top:thin solid black"></td>
  </tr>
  <tr>
    <td class="subhead" style="border-top:thin solid black">Bemerkung</td>
    <td style="border-top:thin solid black"><%=h @invoice.remark %></td>
    <td style="border-top:thin solid black"></td>
    <td style="border-top:thin solid black"></td>
    <td style="border-top:thin solid black"></td>
  </tr>
</table>
<table>
  <tr>
    <th>
	Datum
    </th>
    <th>
	Tarif
    </th>
    <th>
	Tarifziffer
    </th>
    <th>
	Bezugsziffer
    </th>
    <th>
	Si
    </th>
    <th>
	St
    </th>
    <th>
	Anzahl
    </th>
    <th>
	TP AL/Preis
    </th>
    <th>
	f AL
    </th>
    <th>
	TPW AL
    </th>
    <th>
	TP TL
    </th>
    <th>
	f TL
    </th>
    <th>
	TPW TL
    </th>
    <th>
	A
    </th>
    <th>
	V
    </th>
    <th>
	P
    </th>
    <th>
	M
    </th>
    <th>
	Betrag
    </th>
  </tr>
  <tr>
    <td>
    </td>
    <td>
    </td>
    <td colspan="8">
        Blutentnahme kapill&auml;r, jede Lokalisation durch nicht&auml;rztliches Personal
    </td>
  </tr>
  <tr>
    <td>
	<span class="bullet">&#9632;</span>&nbsp;11.05.2007
    </td>
    <td>
	001
    </td>
    <td>
	00.0716
    </td>
    <td>
    </td>
    <td>
	1
    </td>
    <td>
    </td>
    <td>
	1.00
    </td>
    <td>
	0.00
    </td>
    <td>
	1.00
    </td>
    <td>
	0.90
    </td>
    <td>
	4.92
    </td>
    <td>
	1.00
    </td>
    <td>
	0.90
    </td>
    <td>
	1
    </td>
    <td>
	1
    </td>
    <td>
	0
    </td>
    <td>
	0
    </td>
    <td>
	4.43
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
    </td>
    <td colspan="8">
        Blutentnahme kapill&auml;r, jede Lokalisation durch nicht&auml;rztliches Personal
    </td>
  </tr>
  <tr>
    <td>
        <span class="bullet">&#9632;</span>&nbsp;11.05.2007
    </td>
    <td>
        001
    </td>
    <td>
        00.0716
    </td>
    <td>
    </td>
    <td>
        1
    </td>
    <td>
    </td>
    <td>
        1.00
    </td>
    <td>
        0.00
    </td>
    <td>
        1.00
    </td>
    <td>
        0.90
    </td>
    <td>
        4.92
    </td>
    <td>
        1.00
    </td>
    <td>
        0.90
    </td>
    <td>
        1
    </td>
    <td>
        1
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        4.43
    </td>
  </tr>
</table>

<br />
<br />
<br />
<table>
  <tr>
    <td class="subhead" style="width:1.2cm"><span class="bullet">&#9632;</span>&nbsp;PFL</td>
    <td class="listing" style="width:1.3cm">Tarmed&nbsp;AL</td>
    <td class="amount" style="width:1.7cm">210.95</td>
    <td class="amount" style="width:1.3cm">(234.43)</td>
    <td style="width:1cm" />
    <td class="listing" style="width:1.3cm">Physio</td>
    <td class="amount" style="width:1.7cm">0.00</td>
    <td style="width:1.2cm" />
    <td class="listing" style="width:1.3cm">MiGel</td>
    <td class="amount" style="width:1.5cm">0.00</td>
    <td style="width:1.3cm" />
    <td class="listing" style="width:1.9cm">&Uuml;brige</td>
    <td class="amount" style="width:1.7">0.00</td>
  </tr>
  <tr>
    <td style="width:1.2cm" />
    <td class="listing" style="width:1.3cm">Tarmed&nbsp;TL</td>
    <td class="amount" style="width:1.7cm">230.80</td>
    <td class="amount" style="width:1.3cm">(256.43)</td>
    <td style="width:1cm" />
    <td class="listing" style="width:1.3cm">Labor</td>
    <td class="amount" style="width:1.7cm">282.60</td>
    <td style="width:1.2cm" />
    <td class="listing" style="width:1.3cm">Medi</td>
    <td class="amount" style="width:1.5cm">18.20</td>
    <td style="width:1.3cm" />
    <td class="listing" style="width:1.9cm">Kantonal</td>
    <td class="amount" style="width:1.7">0.00</td>
  </tr>
  <tr>
    <td colspan="2" class="subhead" style="width:2.5cm"	><span class="bullet">&#9632;</span>&nbsp;Gesamtbetrag/CHF</td>
    <td class="totalamount" style="width:1.7cm">742.55</td>
    <td style="width:1.3cm"></td>
    <td style="width:1cm"></td>
    <td class="subhead" style="width:1.3cm">davon&nbsp;PFL</td>
    <td class="totalamount">742.55</td>
    <td colspan="2" class="subhead">Anzahlung</td>
    <td class="totalamount">0.00</td>
    <td colspan="2" class="subhead">F&auml;lliger&nbsp;Betrag</td>
    <td class="totalamount">742.55</td>
  </tr>
  <tr>
    <td class="subhead"><span class="bullet">&#9632;</span>&nbsp;MWSt.Nr.</td>
  </tr>
  <tr>
    <td class="subhead"><span class="bullet">&#9632;</span>&nbsp;Code</td>
    <td class="subhead">Satz</td>
    <td class="subhead">Betrag</td>
    <td class="subhead">MWSt</td>
  </tr>
  <tr>
    <td>0</td>
    <td>0.00</td>
    <td>742.53</td>
    <td>0.00</td>
  </tr>
  <tr>
    <td class="total">Total</td>
    <td></td>
    <td class="totalamount">742.55</td>
    <td class="totalamount">0.00</td>
  </tr>
</table>

<br />
<br />
<br />

<div id="vesr"> 0100000742559>935359000000003999900115948+&nbsp;012000272></div>
</div>