<div id="drug_form">
  <%= semantic_remote_form_for @drug_product do |form| %>
    <%= form.semantic_errors %>

    <%= form.inputs do %>
      <%= form.input :name %>
      <%= form.input :description, :input_html => {:rows => 3} %>
    <% end %>

    <%= form.buttons do %>
      <%= form.commit_button :button_html => {:class => "icon icon-save"} %>
      <%= button_to_remote "Abbrechen", {:url => @drug_product, :method => :get}, :class => "icon icon-cancel" %>
    <% end %>
  <% end %>
</div>
