<div class="box">
  <div class="contextual">
    <%= link_to_remote "Tarif erzeugen", {:url => create_tariff_item_drug_product_path(@drug_product), :method => :put}, :class => "icon icon-add" %>
    <%= link_to_remote "Editieren", {:url => edit_drug_product_path(@drug_product), :method => :get}, :class => "icon icon-edit" %>
    <%= link_to_remote "Löschen", {:url => @drug_product, :method => :delete}, :class => "icon icon-delete" %>
    <%= link_to "Katalog anzeigen", drug_products_path(:all => true), :class => "icon icon-index" %>
  </div>
  <h3>Information</h3>
  <table>
    <tr>
      <th><%= t_attr(:name) %>:</th>
      <td><%=h @drug_product.name %></td>
    </tr>
    <tr>
      <th><%= t_attr(:description) %>:</th>
      <td><%=h @drug_product.description %></td>
    </tr>
  </table>

  <h3>Packungen</h3>
  <table class="list">
    <%= render :partial => 'article_list_header' %>
    <%= render :partial => 'article_item', :collection => @drug_product.drug_articles %>
  </table>
</div>
