<div class="box">
  <h3>Information</h3>
  <table>
    <tr>
      <th><%= t(:name, :scope => [:activerecord, :attributes, :drug_product]) %>:</th>
      <td><%=h @drug_product.name %></td>
    </tr>
    <tr>
      <th><%= t(:description, :scope => [:activerecord, :attributes, :drug_product]) %>:</th>
      <td><%=h @drug_product.description %></td>
    </tr>
  </table>

  <h3>Packungen</h3>
  <table class="list">
    <%= render :partial => 'article_list_header' %>
    <%= render :partial => 'article_item', :collection => @drug_product.drug_articles %>
  </table>
</div>
