.contextual
  = link_to "Tarif erzeugen", create_tariff_item_drug_product_path(resource)
  = link_to "Packung erfassen", new_drug_product_drug_article_path(resource)

%table.table.table-striped.collection
  %tr
    %th= t_attr(:name)
    %td= resource.name
  %tr
    %th= t_attr(:description)
    %td= resource.description
%h3 Packungen
= render 'drug_articles/list'
