= simple_form_for @insurance do |f|
  = render "vcards/form", :f => f

  = f.input :ean_party
  = f.input :group_ean_party
  = f.input :role, :collection => insurance_role_collection

  = f.button :submit
