// Problem with rails < 3: polymorphic_url(Insurance) => insurances/Insurance
// = contextual_links
.contextual
  = contextual_link_to :show
  = contextual_link_to :delete
  = icon_link_to :index, insurances_path
%h2= t_title

.box
  - semantic_form_for @insurance do |form|
      
    = render 'form', :form => form

    - form.buttons do
      = form.commit_button t('cydoc.actions.save'), :button_html => {:class => "icon icon-save"}
      = button_to_function t('cydoc.actions.abort'), "window.location.href = \"#{escape_javascript(insurances_path)}\"", :class => "icon icon-cancel"
