= contextual_links
%h2= t_title

.box
  - semantic_form_for @insurance do |form|
      
    = render 'form', :form => form

    - form.buttons do
      = form.commit_button t('cydoc.actions.save'), :button_html => {:class => "icon icon-save"}
      = button_to_function t('cydoc.actions.abort'), "window.location.href = \"#{escape_javascript(insurances_path)}\"", :class => "icon icon-cancel"
