<div class="contextual">
  <%= icon_link_to :search, insurances_path %>
  <%= contextual_link_to :edit %>
</div>

<h2><%= @insurance.name %></h2>
<div class="box">
  <%= render 'show' %>
</div>

<% if @insurance.group -%>
<h2>Gruppe</h2>
<div class="box">
  <%= render 'group_show' %>
</div>
<% end -%>
