<ul>
  <li><%= link_to_remote "Neuer Termin", :update => 'result', :url => new_consultation_path %></li>
  <li><%= link_to_remote "Konsultation", :update => 'result', :url => new_consultation_path(@consultation) if @consultation %></li>
  <li><%= link_to_remote "Termin verschieben", :update => 'result', :url => edit_consultation_path %></li>
  <li><%= link_to_remote "Diagnose hinzuf端gen", :update => 'result', :url => {:action => :order_form_inline, :id => @case} %></li>
  <li><%= link_to_remote "Analyse hinzuf端gen", :update => 'result', :url => {:action => :order_form_inline, :id => @case} %></li>
  <li><%= link_to_remote "Medikation hinzuf端gen", :update => 'result', :url => {:action => :order_form_inline, :id => @case} %></li>
  <li><%= link_to_remote "Leistung hinzuf端gen", :update => 'result', :url => {:action => :order_form_inline, :id => @case} %></li>
</ul>
