<%= error_messages_for :medical_cases %>

<script type="text/javascript">
  $('search_query').focus()
</script>

<div class="box">
  <% remote_form_for 'search', :before => "Element.show('spinner')", :success => "Element.hide('spinner')", :url => patient_treatment_medical_cases_path(@patient, @treatment), :html => {:method => :get}, :method => :get do |f| %>
    <%= f.label 'query', 'Suche' %>
    <%= f.text_field :query, :label => "Suche", :size => 15, :autocomplete => 'off' %>

    <%= image_submit_tag 'find.png', :title => 'Suchen' %>
    <%= image_tag("indicator.gif",
                  :align => "absmiddle",
                  :border => 0,
                  :id => "spinner",
                  :style =>"display: none;" ) %>
  <% end %>

  <div id="medical_case_search_results"></div>
</div>
