= simple_form_for resource, :before => "showPrintingFlash('Rechnungslauf'); $('invoice_batch_f').remove()" do |f|
  = f.input :tiers_name, :as => :hidden
  .row-fluid
    .span6= f.input :value_date, :as => :date_field
    .span6= f.input :count

  .form-actions
    = f.button :submit
