<tr>
  <td style="text-align: right"><%= link_to invoice_batch_job.created_at.to_date, invoice_batch_job, 'data-href-container' => 'tr' %></td>
  <td style="text-align: right"><%= invoice_batch_job.value_date %></td>
  <td style="text-align: right"><%= invoice_batch_job.count %></td>
  <td style="text-align: right"><%= invoice_batch_job.failed_job_count %></td>
  <td><%= failed_jobs(invoice_batch_job) %></td>
</tr>
