<h2><%= t_title %></h2>

<table class="list">
  <tr>
    <th style="text-align: right"><%= t_attr :created_at %></th>
    <th style="text-align: right"><%= t_attr :value_date %></th>
    <th style="text-align: right"><%= t_attr :total_count %></th>
    <th style="text-align: right"><%= t_attr :failed_count %></th>
    <th><%= t_attr :failed_jobs %></th>
  </tr>
  <%= render @invoice_batch_jobs %>
</table>
