<table style="text-align: left; width: 100%">
  <tr>
    <th>Entnahmedat.:</th><td><%= case_info.examination_date.strftime('%d.%m.%Y') unless case_info.examination_date.nil? %></td>
  </tr>
  <tr>
    <th>Eingangsdat.:</th><td><%= case_info.entry_date.strftime('%d.%m.%Y') unless case_info.entry_date.nil? %></td>
  </tr>
  <tr>
    <th>Tagesnr.:</th><td><%= case_info.intra_day_id %></td>
  </tr>
  <tr>
    <th>Methode:</th><td><%= case_info.examination_method.name unless case_info.examination_method.nil? %></td>
  </tr>

  <% photos_path = '/srv/zyto-labor.com/hozr/public/photos/' %>
  <% photos = Dir.glob( photos_path + case_info.praxistar_eingangsnr + '*.png') unless case_info.praxistar_eingangsnr.nil? %>
  <% unless photos.nil? or photos.empty? %>
  <tr>
    <th>Fotos:</th>
    <td>
      <% i = 0 %>
      <% for photo in photos %>
        <% i += 1 %>
        <% photo_url = photo.gsub(photos_path, '') %>
        <%= link_to "[#{i}]", "/photos/#{photo_url}" %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
