<dt class="PAP_<%=h compact.classification.code unless compact.classification.nil? %>" style="font-weight: bold">
  <%=h compact.screened_at.strftime('%b. %g') unless compact.screened_at.nil? %>: <%=link_to "#" + h(compact.praxistar_eingangsnr), :controller => 'cases', :action => :show, :id => compact unless compact.praxistar_eingangsnr.nil? %>
</dt>
<dd>
  <div style="font-weight: bold"><%=h compact.classification.name unless compact.classification.nil? %></div>
  <% if compact.finding_classes.empty? %>
  keine Diagnose
  <% else %>
  (<%= render :partial => "finding_classes/compact", :collection => compact.finding_classes, :spacer_template => 'finding_classes/spacer_template' %>)
  <% end %>
</dd>
