<div class="sheet_a5">
<div class="report">
<div id="patient">
<% if !(@case.patient.doctor_patient_nr.nil? or @case.patient.doctor_patient_nr == '') %>
<%=h @case.patient.doctor_patient_nr %><br />
<% end %>
<%= render :partial => "vcards/show", :locals => {:vcard => @case.patient.vcard} %><br/>
<%=h @case.patient.birth_date.strftime("%d.%m.%Y") unless @case.patient.birth_date.nil? %><br />
</div>

<div id="insurance">
<% if !@case.insurance.nil? %>
<%=h @case.insurance.vcard.full_name %> <%=h "##{@case.insurance_nr}" unless @case.insurance_nr.nil? or @case.insurance_nr.strip == "0" or @case.insurance_nr.strip == "" %>
<% end %>
</div>

<div id="doctor">
<%=h @case.doctor.praxis.honorific_prefix %><br />
<%= render :partial => "vcards/show", :locals => {:vcard => @case.doctor.praxis} %>
</div>

<div id="case">
Entnahme vom: <%=h @case.examination_date ? @case.examination_date.strftime("%d.%m.%Y") : "Noch nicht gesetzt" %><br />
Eingang am: <%=h @case.entry_date ? @case.entry_date.strftime("%d.%m.%Y") : "Noch nicht gesetzt" %>
</div>

<div id="subject" class="title">
Ihr Auftrag Nr. <%=h @case.praxistar_eingangsnr %>
</div>

<div id="remarks">
<%= image_tag url_for_image_column(@case.order_form, "file", :result_remarks), :size => '410x192' unless @case.order_form.nil? or url_for_image_column(@case.order_form, "file", :result_remarks).nil? %>
</div>

<div id="finding_title" class="title">
Befund
</div>

<div id="classification" class="PAP_<%=h @case.classification.code %>">
<%=h @case.classification.name %>
</div>

<div id="findings">
  <div id="finding_list">
    <%= render :partial => 'list_findings' %>
  </div>
</div>

<div id="special_findings">
<% for finding in @case.control_findings %>
<div class='<%= finding_css_class(finding) %>'><%=h finding.name %></div>
<% end %>
<br/>
<% for finding in @case.quality_findings %>
<div class='<%= finding_css_class(finding) %>'><%=h finding.name %></div>
<% end %>
</div>

<div id="signature">
  <%= "Visum: #{@case.screened_by.work_vcard.abbreviated_name unless @case.screened_by.nil?}, #{@case.screened_at.strftime("%d.%m.%Y") unless @case.screened_at.nil?}" %>
  <% unless @case.review_by.nil? %>
    <br/>
    <%= "Visum: #{@case.review_by.work_vcard.abbreviated_name}, #{@case.review_at.strftime("%d.%m.%Y") unless @case.review_at.nil?}" %>
  <% end %>
</div>
</div>
</div>
