<div class="report">

<table>
<tr>
<td style="width: 6.5cm">
  <div id="patient">
  <% if !(@case.patient.doctor_patient_nr.nil? or @case.patient.doctor_patient_nr == '') %>
  <%=h @case.patient.doctor_patient_nr %><br />
  <% end %>
  <%= render :partial => "vcards/show", :locals => {:vcard => @case.patient.vcard} %><br/>
  </div>
</td>
<td>
  <div id="doctor">
  <%=h @case.doctor.praxis.honorific_prefix %><br />
  <%= render :partial => "vcards/show", :locals => {:vcard => @case.doctor.praxis} %>
  </div>
</td>
</tr>
<tr>
<td>
  <%=h @case.patient.birth_date.strftime("%d.%m.%Y") unless @case.patient.birth_date.nil? %><br />
  <% if !@case.insurance.nil? %>
  <%=h @case.insurance.vcard.full_name %> <%=h "##{@case.insurance_nr}" unless @case.insurance_nr.nil? or @case.insurance_nr.strip == "0" or @case.insurance_nr.strip == "" %>
  <% end %>
</td>
<td>
  Entnahme vom: <%=h @case.examination_date ? @case.examination_date.strftime("%d.%m.%Y") : "Noch nicht gesetzt" %><br />
  Eingang am: <%=h @case.entry_date ? @case.entry_date.strftime("%d.%m.%Y") : "Noch nicht gesetzt" %>
</td>
</tr>
</table>


<div id="subject" class="title">
Ihr Auftrag Nr. <%=h @case.praxistar_eingangsnr %>
</div>

<% unless @case.classification.code == "mam" %>
<div id="remarks">
<%= image_tag url_for(:action => :result_remarks, :id => @case), :size => '410x192' %>
</div>
<% end %>

<% unless @case.classification.code == "mam" %>
<div id="finding_title" class="title">
Befund
</div>
<% end %>

<div id="classification" class="PAP_<%=h @case.classification.code %>">
<%=h @case.classification.name %>
</div>

<% if @case.classification.code == "mam" %>
<div id="finding_title" class="title" style="margin-top: 0.5em; margin-bottom: 1em">
Befund
</div>
<div id="eg_remarks">
  <%= @case.finding_text %>
</div>
<% else %>
<table>
<tr>
  <td id="finding_list">
    <%= render :partial => 'list_findings' %>
  </td>
  <td id="special_findings">
    <% for finding in @case.control_findings %>
    <div class='finding_group_Kontrolle'><%=h finding.name %></div>
    <% end %>
    <br/>
    <% for finding in @case.quality_findings %>
    <div class='finding_group_Zustand'><%=h finding.name %></div>
    <% end %>
  </td>
</tr>
</table>
<% end %>

<div id="signature">
  <%= "<b>Visum:</b> #{@case.screened_by.work_vcard.abbreviated_name unless @case.screened_by.nil?}, #{@case.screened_at.strftime("%d.%m.%Y") unless @case.screened_at.nil?}" %>
  <% unless @case.review_by.nil? %>
    <br/>
    <%= "<b>Visum:</b> #{@case.review_by.work_vcard.abbreviated_name}, #{@case.review_at.strftime("%d.%m.%Y") unless @case.review_at.nil?}" %>
  <% end %>
</div>
</div>
