<table style="height: 100%">
  <tr>
    <td>
      <fieldset>
        <legend>Resultat</legend>
        <%= render :partial => 'result_report', :id => @case %>
      </fieldset>
    </td>
    <td id="personal-information" style="min-width: 200px; vertical-align: top">
      <fieldset style="font-size: 80%; line-height: 1.3em">
        <legend>Geschichte</legend>
        <dl>
          <%= render :partial => 'cases/compact', :collection => @related_cases %>
        </dl>
      </fieldset>
      <fieldset style="font-size: 80%; line-height: 1.3em">
        <legend>Aktionen</legend>
        <%= render :partial => '/search/form' %>
        <ul>
          <li><%= link_to "Auftragsformular", :action => :order_form, :id => @case %></li>
          <li><%= link_to "Resultat als PDF (A4)", :action => :pdf_a4, :id => @case %></li>
        </ul>
      </fieldset>
    </td>
  </tr>
</table>
