<div class="contextual">
  <%= link_to "Erfassen", new_booking_path, :class => "icon icon-add" %>
  <%= link_to_remote "Alle anzeigen", {:url => bookings_path(:all => true), :method => :get}, :class => "icon icon-index" %>
  <%= link_to "Als CSV", {:action => 'list_csv', :by_value_period => params[:by_value_period]}, :class => "icon icon-show" %>
</div>
<h2><%= t('cydoc.title.bookings') %></h2>

<%= render :partial => 'list' %>
<%= render :partial => 'bookings/sidebar' %>
