= contextual_links

%h1= t_title

= show_for @booking do |b|
  = b.attribute :value_date
  = b.attribute :title
  = b.attribute :amount
  = b.association :credit_account
  = b.association :debit_account
  = b.association :reference
  = b.attribute :comments, :if_blank => ''
