<%
if params[:sub_tab] and params[:sub_tab].starts_with?(type)
  selected_tab = params[:sub_tab].to_s
elsif tabs.first
  selected_tab = "#{type}_#{tabs.first.id}"
end
%>
<div class="sub-tab-container sub-tab-<%= type %>">
  <% content_for :sidebar do %>
    <%= render :partial => 'shared/sub_tab_sidebar', :locals => {:type => type, :tabs => tabs, :selected_tab => selected_tab} %>
  <% end %>

<div id="new-sub-tab-content-<%= type %>"></div>

<div id="sub-tab-content-<%= type %>">
  <% tabs.each do |tab| -%>
  <% eval "@#{type.singularize} = tab" %>
  <%= render :partial => 'shared/sub_tab_content', :locals => {:type => type, :tab => tab, :selected_tab => selected_tab} %>
  <% end -%>
</div>
</div>
