<%
if params[:sub_tab].starts_with?(type)
  selected_tab = params[:sub_tab].to_s
elsif tabs.first
  selected_tab = "#{type}_#{tabs.first.id}"
end
%>
<div class="sub-tab-container sub-tab-<%= type %>">
  <% content_for :sidebar do %>
    <div class="sub-tabs">
      <% begin %>
        <%= render :partial => "#{type}/sub_tab_head" %>
      <% rescue %>
        <h3><%= type.classify %></h3>
      <% end %>
      <ul>
      <% tabs.each do |tab| -%>
        <li><%= link_to "#{tab.to_s(:short)}", tab,
                               :id => "sub-tab-#{type}-#{tab.id}",
                               :class => ("#{type}_#{tab.id}" != selected_tab ? nil : 'selected'),
                               :onclick => "showSubTab('#{type}-#{tab.id}', '#{type}'); this.blur(); return false;" %></li>
      <% end -%>
      </ul>
    </div>
  <% end %>

<% tabs.each do |tab| -%>
<% eval "@#{type.singularize} = tab" %>
<%= content_tag('div', render(:partial => "#{type}/show"),
                       :id => "sub-tab-content-#{type}-#{tab.id}",
                       :style => ("#{type}_#{tab.id}" != selected_tab ? 'display:none' : nil),
                       :class => 'sub-tab-content sub-tab-content-' + type) %>
<% end -%>
</div>
