<%
if params[:sub_tab_id] and params[:tab] == type
  sub_tab = tabs.find(params[:sub_tab_id])
elsif tabs.first
  sub_tab = tabs.first
end
selected_tab = "#{type}_#{sub_tab.id}"
%>
<div class="sub-tab-container sub-tab-<%= type %>">
  <% content_for :sidebar do %>
    <%= render :partial => 'shared/sub_tab_sidebar', :locals => {:type => type, :tabs => tabs, :selected_tab => selected_tab} %>
  <% end %>

<div id="new-sub-tab-content-<%= type %>"></div>
  <div id="sub-tab-content-<%= type %>">
    <% eval "@#{type.singularize} = sub_tab" %>
    <%= render :partial => 'shared/sub_tab_content', :locals => {:type => type, :tab => sub_tab, :selected_tab => selected_tab} %>
  </div>
</div>
