.contextual
  = link_to_function "Protokoll drucken", 'window.print()', :class => "icon icon-print"
  = link_to "VESR Liste", esr_files_path, :class => "icon icon-book"
  = link_to t_action(:show_all), {:show_valid => true}, :class => 'icon icon-show_all' unless params['show_valid']

%h2 VESR Protokoll vom #{l(@esr_file.updated_at.to_date)}

- unless @esr_file.esr_records.invalid.empty?
  %h3 Falscher Betrag
  = render 'esr_records/list', :esr_records => @esr_file.esr_records.invalid

- unless @esr_file.esr_records.missing.empty?
  %h3 Rechnung nicht gefunden
  = render 'esr_records/list', :esr_records => @esr_file.esr_records.missing

- if params['show_valid'].present?
  %h3 Korrekte Zahlungen
  = render 'esr_records/list', :esr_records => @esr_file.esr_records.valid

= render :partial => 'sidebar'
