%tr[drug_article]
  %td= link_to drug_article, drug_article, 'data-href-container' => 'tr'
  %td= "#{drug_article.number_of_pieces} x #{drug_article.quantity} #{drug_article.quantity_unit}"
  %td.currency= "#{drug_article.vat_class.try(:rate)} %"
  %td.currency= "#{currency_fmt(drug_article.doctors_price)}"
  %td.currency= "#{currency_fmt(drug_article.price)}"
  %td
    = list_link_for(:delete, drug_article)
    = list_link_for(:edit, drug_article)
