#drug_form
  = semantic_form_for [@drug_product, @drug_article], :remote => true do |form|
    = form.semantic_errors
    = form.inputs do
      = form.input :code, :input_html => {:size => 10}
      = form.input :description, :as => :string, :label => t_attr(:name, DrugArticle)
      = form.input :number_of_pieces, :input_html => {:size => 10}
      = form.input :quantity, :input_html => {:size => 10}
      = form.input :quantity_unit, :as => :select, :collection => DrugArticle::QUANTITY_UNITS
      = form.input :vat_class
      = form.input :doctors_price, :required => true, :input_html => {:size => 10}
      = form.input :price, :required => true, :input_html => {:size => 10}
    = form.buttons do
      = form.commit_button :button_html => {:class => "icon icon-save"}
      = button_to "Abbrechen", @drug_product, :method => :get, :remote => true, :class => "icon icon-cancel"
