<div id="drug_form">
  <% semantic_remote_form_for [@drug_product, @drug_article] do |form| %>
    <%= form.semantic_errors %>

    <% form.inputs do %>
      <%= form.input :code, :input_html => {:size => 10} %>

      <%= form.input :name, :as => :string %>
      <%= form.input :description, :input_html => {:rows => 3} %>
      <%= form.input :number_of_pieces, :input_html => {:size => 10} %>
      <%= form.input :quantity, :input_html => {:size => 10} %>
      <%= form.input :quantity_unit, :input_html => {:size => 10} %>

      <%= form.input :vat_class %>

      <%= form.input :doctors_price, :required => true, :input_html => {:size => 10} %>
      <%= form.input :price, :required => true, :input_html => {:size => 10} %>
    <% end %>

    <% form.buttons do %>
      <%= form.commit_button :button_html => {:class => "icon icon-save"} %>
      <%= button_to_remote "Abbrechen", {:url => @drug_product, :method => :get}, :class => "icon icon-cancel" %>
    <% end %>
  <% end %>
</div>
