%table.table.table-striped.collection
  %tr
    %th= t_attr(:name, DrugArticle)
    %th= t_attr(:content, DrugArticle)
    %th{:style => "text-align: right"}
      = t_attr(:vat_class, DrugArticle)
    %th{:style => "text-align: right"}= t_attr(:doctors_price, DrugArticle)
    %th{:style => "text-align: right"}= t_attr(:price, DrugArticle)
    %th

    = render collection
