<script type="text/javascript">
  $('tariff_items_query').focus()
</script>

<h3>Neue Leistung</h3>
<div class="box">
  <% remote_form_for 'search', :before => "Element.show('spinner')", :success => "Element.hide('spinner')", :url => patient_tariff_items_path(params['patient_id']), :html => {:method => :get}, :method => :get do |f| %>
    <%= f.label 'date', 'Datum' %>
    <%= f.text_field :date, :label => "Datum", :size => 8, :autocomplete => 'off' %>

    <%= f.label 'query', 'Suche' %>
    <%= f.text_field :query, :label => "Suche", :size => 15, :autocomplete => 'off' %>

    <%= image_submit_tag 'find.png', :title => 'Suchen' %>
    <%= image_tag("indicator.gif",
                  :align => "absmiddle",
                  :border => 0,
                  :id => "spinner",
                  :style =>"display: none;" ) %>
  <% end %>

  <div id="search_results"></div>
</div>
 