<div id="tariff_item_form">
  <% semantic_form_for @tariff_item.becomes(TariffItem) do |form| %>
    <%= form.semantic_errors %>

    <% form.inputs do %>
      <%= form.input :type_as_string, :as => :select, :required => true, :collection => type_as_string_collection %>
      <%= form.input :code, :input_html => {:size => 8} %>
      <%= form.input :remark, :input_html => {:rows => 3} %>
      <%= form.input :obligation %>
    <% end %>

    <% form.buttons do %>
      <%= form.commit_button :class => "icon icon-save" %>
    <% end %>
  <% end %>
</div>
 