<%= error_messages_for :record_tarmed %>

<% form_for :record_tarmed, :url => {:action => 'create'} do |f| %>
  <p>
    Position: <%= f.text_field :code %><br />
    Datum: <%= f.text_field :date %><br />
    Sitzung: <%= f.text_field :session %><br />

    <%= f.submit "Erfassen" %>

    <%= f.hidden_field :patient_id %>

    <%= f.hidden_field :provider_id %>
    <%= f.hidden_field :responsible_id %>
    <%= f.hidden_field :quantity %>
    <%= f.hidden_field :unit_mt %>
    <%= f.hidden_field :unit_tt %>
  </p>
<% end %>
