<tr>
  <td><b><%=h item.date.strftime("%d.%m.%Y") %><b></td>
  <td>Tarmed<!--<%=h item.tariff_type %>--></td>
  <td style="text-align:right"><%=h item.ref_code.nil? ? item.code : "  " + item.ref_code %></td>
  <td style="text-align:right"><%=h sprintf('%.f', item.quantity) %>x</td>
  <td><b><%=h item.text %></b></td>
  <td style="text-align:right"><%=h sprintf('%.2f', item.amount_mt) %>&nbsp;AL</td>
  <td style="text-align:right"><%=h sprintf('%.2f', item.amount_tt) %>&nbsp;TL</td>
  <td style="text-align:right"><b><%=h sprintf('%.2f', item.amount) %></b></td>
</tr>
