<tr title="<%= item.remark %>" style="cursor: pointer" onclick="window.location='<%= tariff_item_url(item) %>'">
  <td style="text-align:right"><%= item.code %></td>
  <td><span style="font-weight: bold"><%= truncate(item.remark, :length => 80, :separator => ' ') %></span></td>
  <td style="text-align:right"><%= currency_fmt(item.amount_mt) %>&nbsp;TP</td>
  <td style="text-align:right"><%= currency_fmt(item.amount_tt) %>&nbsp;TP</td>
  <td style="text-align:right"><b><%= currency_fmt(item.amount) %></b>&nbsp;CHF</td>
</tr>
