%tr
  %th{:style => "text-align: right"}= t_attr(:code, TariffItem)
  %th= t_attr(:remark, TariffItem)
  %th{:style => "text-align: right"}= t_attr(:amount_mt, TariffItem)
  %th{:style => "text-align: right"}= t_attr(:amount_tt, TariffItem)
  %th{:style => "text-align: right"}= t_attr(:amount, TariffItem)
