<div class="box">
  <div class="contextual">
    <%= link_to_remote "Editieren", {:url => edit_tariff_item_path(@tariff_item), :method => :get}, :class => "icon icon-edit" %>
    <%= link_to_remote "Duplizieren", {:url => duplicate_tariff_item_path(@tariff_item), :method => :post}, :class => "icon icon-add" %>
    <%= link_to_remote "Löschen", {:url => tariff_item_path(@tariff_item), :method => :delete}, :class => "icon icon-delete" %>
    <%= link_to "Katalog anzeigen", tariff_items_path(:all => true), :class => "icon icon-index" %>
  </div>
  <h3>Leistung</h3>
  <table>
    <tr>
      <th><%= t_attr(:type_as_string) %>:</th>
      <td><%=h @tariff_item.type_to_s %></td>
    </tr>
    <tr>
      <th><%= t_attr(:code) %>:</th>
      <td><%= in_place_editor_field :tariff_item, :code %></td>
    </tr>
    <tr>
      <th><%= t_attr(:remark) %>:</th>
      <td><%= in_place_editor_field :tariff_item, :remark %></td>
    </tr>
    <tr>
      <th><%= t_attr(:obligation) %>:</th>
      <td><%=h @tariff_item.obligation? ? "Ja" : "Nein" %></td>
    </tr>
    <tr>
      <th>MWSt:</th>
      <td><%=h @tariff_item.vat_class.to_s %></td>
    </tr>
  </table>

  <%= render :partial => 'show_tariff_item_group' if @tariff_item.is_a? TariffItemGroup %>
</div>
