<h3>Preis</h3>
<table class="list">
  <tr>
    <th style="text-align: right"><%= t_attr(:amount_mt, TariffItem) %></th>
    <th style="text-align: right"><%= t_attr(:amount_tt, TariffItem) %></th>
    <th style="text-align: right"><%= t_attr(:amount, TariffItem) %></th>
  </tr>
  <tr>
    <td style="text-align:right"><%= currency_fmt(@tariff_item.amount_mt) %>&nbsp;TP</td>
    <td style="text-align:right"><%= currency_fmt(@tariff_item.amount_tt) %>&nbsp;TP</td>
    <td style="text-align:right"><b><%= currency_fmt(@tariff_item.amount) %></b>&nbsp;CHF</td>
  </tr>
</table>
