<div class="box">
  <div class="contextual">
    <%= link_to "Leistung editieren", edit_tariff_item_url(@tariff_item), :class => "icon icon-edit" %>
    <%= link_to_remote "Leistung löschen", {:url => tariff_item_url(@tariff_item), :method => :delete}, :class => "icon icon-delete" %>
    <%= link_to_remote "Leistung duplizieren", {:url => duplicate_tariff_item_url(@tariff_item), :method => :post}, :class => "icon icon-add" %>
  </div>
  <h3>Information</h3>
  <table>
    <tr>
      <th>Tarif:</th>
      <td><%=h @tariff_item.type_to_s %></td>
    </tr>
    <tr>
      <th>Code:</th>
      <td><%= in_place_editor_field :tariff_item, :code %></td>
    </tr>
    <tr>
      <th>Beschreibung:</th>
      <td><%= in_place_editor_field :tariff_item, :remark %></td>
    </tr>
    <tr>
      <th>Pflichtleistung:</th>
      <td><%=h @tariff_item.obligation? ? "Ja" : "Nein" %></td>
    </tr>
    <tr>
      <th>MWSt:</th>
      <td><%=h @tariff_item.vat_class.to_s %></td>
    </tr>
  </table>

  <%= render :partial => 'show_tariff_item_group' if @tariff_item.is_a? TariffItemGroup %>
</div>
