%h3 Preis
%table.table.table-striped.collection
  %tr
    %th{:style => "text-align: right"}= t_attr(:amount_mt, TariffItem)
    %th{:style => "text-align: right"}= t_attr(:amount_tt, TariffItem)
    %th{:style => "text-align: right"}= t_attr(:amount, TariffItem)
  %tr
    %td{:style => "text-align:right"}
      = currency_fmt(@tariff_item.amount_mt)
      \&nbsp;TP
    %td{:style => "text-align:right"}
      = currency_fmt(@tariff_item.amount_tt)
      \&nbsp;TP
    %td{:style => "text-align:right"}
      = currency_fmt(@tariff_item.amount)
      \&nbsp;CHF
