<div class="box">
  <h3>Information</h3>
  <table>
    <tr>
      <th>Tarif:</th>
      <td><%=h @tariff_item.type.to_s %></td>
    </tr>
    <tr>
      <th>Beschreibung:</th>
      <td><%= in_place_editor_field :tariff_item, :remark %></td>
    </tr>
    <tr>
      <th>Code:</th>
      <td><%= in_place_editor_field :tariff_item, :code %></td>
    </tr>
    <tr>
      <th>Pflichtleistung:</th>
      <td><%=h @tariff_item.obligation? ? "Ja" : "Nein" %></td>
    </tr>
    <tr>
      <th>MWSt:</th>
      <td><%=h @tariff_item.vat_class.to_s %></td>
    </tr>
  </table>

  <%= render :partial => 'show_tariff_item_group' if @tariff_item.is_a? TariffItemGroup %>
</div>
