%tr[tariff_item]
  %td.right= link_to tariff_item.code, tariff_item, 'data-href-container' => 'tr'
  %td
    %span= truncate(tariff_item.remark, :length => 80, :separator => ' ')
  %td.right= currency_fmt(tariff_item.amount_mt)
  %td.right= currency_fmt(tariff_item.amount_tt)
  %td.right= currency_fmt(tariff_item.amount)
