<% item = open_invoice_item %>
<tr id="invoice_<%= item.id %>">
  <td><%= link_to item.patient.full_name, item.patient %></td>
  <td><%=h item.value_date %></td>
  <td><%=h item.due_date %></td>
  <td style="text-align: right"><%= link_to (item.imported_invoice_id.blank? ? item.id : "#{item.id} (Triamun #{item.imported_invoice_id})"), item %></td>
  <td style="text-align: right"><%=h sprintf("%0.2f", item.amount.currency_round) %></td>
  <td style="text-align: right"><%=h sprintf("%0.2f", item.due_amount(@value_date_end).currency_round) %></td>
</tr>
