<h2>Jahresabschluss</h2>
<table class="list">
  <tr>
    <th>Total fakturiert</th>
    <td style="text-align: right"><%= currency_fmt(@total_invoiced) %></td>
  </tr>
  <tr>
    <th>Total bezahlt</th>
    <td style="text-align: right"><%= currency_fmt(@total_paid) %></td>
  </tr>
  <tr>
    <th>Offene Posten</th>
    <td style="text-align: right"><%= currency_fmt(@open_items) %></td>
  </tr>
  <tr>
    <th>Debitorenverlust</th>
    <td style="text-align: right"><%= currency_fmt(@debtors_write_off) %></td>
  </tr>
  <tr>
    <th>Angefangene Arbeiten</th>
    <td style="text-align: right"><%= currency_fmt(@started_work) %></td>
  </tr>
  <tr>
    <th>Medikamenten Lager</th>
    <td style="text-align: right"><%= currency_fmt(@drugs_stock) %></td>
  </tr>
</table>

<%= render :partial => 'bookings/sidebar' %>
