= boot_page_title "Jahresabschluss #{Date.parse(@value_date_range.first)..Date.parse(@value_date_range.last)}"
%table.table
  %tr
    %th Total fakturiert
    %td{:style => "text-align: right"}= currency_fmt(@total_invoiced)
  %tr
    %th Total bezahlt
    %td{:style => "text-align: right"}= currency_fmt(@total_paid)
  %tr
    %th Offene Posten
    %td{:style => "text-align: right"}= currency_fmt(@open_items)
  %tr
    %th Debitorenverlust
    %td{:style => "text-align: right"}= currency_fmt(@debtors_write_off)
  %tr
    %th Angefangene Arbeiten
    %td{:style => "text-align: right"}= currency_fmt(@started_work)
  %tr
    %th Medikamenten Lager
    %td{:style => "text-align: right"}= currency_fmt(@drugs_stock)
  %tr
    %th Ausserordentlicher Ertrag
    %td{:style => "text-align: right"}= currency_fmt(@special_earnings)
= render :partial => 'bookings/sidebar'
