<% @phone_number = item %>
<% if @phone_number.new_record? %>
  <%= render :partial => 'phone_numbers/new_form' %>
<% else %>
  <tr id="phone_number_<%= item.id %>">
    <th><%= in_place_editor_field :phone_number, :phone_number_type %></th>
    <td><%= in_place_editor_field :phone_number, :number %></td>
    <td>
      <%= link_to_remote image_tag('delete.png'), {:url => phone_number_path(item), :method => :delete} %>
    </td>
  </tr>
<% end %>
