= link_to image_tag('edit.png'), {:url => edit_recall_path(recall), :method => :get}, :title => t('cydoc.actions.edit_recall'), :remote => true
= link_to image_tag('pdf.png'), recall_path(recall, :format => :pdf), :title => t('cydoc.actions.to_pdf') if recall.state == 'sent'
- for state in recall.aasm_events_for_current_state
  - case state
    - when :obey
      = link_to image_tag('true.png'), {:url => obey_recall_path(recall), :method => :post}, :title => t('cydoc.state.recall.accepted'), :remote => true
    - when :cancel
      = link_to image_tag('delete.png'), {:url => recall_path(recall), :method => :delete}, :title => t('cydoc.state.recall.refused'), :remote => true
    - when :prepare
      = link_to image_tag('send.png'), {:url => prepare_recall_path(recall), :method => :post}, :title => t('cydoc.state.recall.send'), :remote => true
