<%= javascript_tag "$('recall_due_date').focus()" %>
<div id="recall_form">
  <% semantic_remote_form_for [@patient, @recall] do |form| %>
    <%= form.semantic_errors %>

    <% form.inputs do %>
      <%= form.input :due_date, :as => :string, :input_html => {:size => 12, :autocomplete => 'off'} %>
      <%= form.input :remarks, :input_html => {:rows => 3} %>
      <% form.semantic_fields_for :appointment do |appointment| %>
        <%= appointment.input :date, :as => :string, :input_html => {:size => 12, :autocomplete => 'off'} %>
        <%= appointment.input :from, :as => :string, :input_html => {:size => 12, :autocomplete => 'off'} %>
        <%= appointment.input :to, :as => :string, :input_html => {:size => 12, :autocomplete => 'off'} %>
      <% end %>
    <% end %>

    <% form.buttons do %>
      <%= form.submit "Speichern", :class => "icon icon-save" %>
      <%= button_to_function "Abbrechen", "Element.update('new_recall')", :class => "icon icon-cancel" %>
    <% end %>
 <% end %>
</div>
