<tr id="recall_<%= item.id %>">
  <td><%=h item.due_date %></td>
  <td><%= link_to item.patient, item.patient %></td>
  <td><%=h item.appointment unless item.appointment.nil? %></td>
  <td><%=h item.sent_at.to_date if item.sent_at %></td>
  <td><%=h item.remarks %></td>
  <td>
    <% for state in item.aasm_events_for_current_state -%>
    <%= 
    case state
      when :obey:   link_to_remote image_tag('true.png'), :url => obey_patient_recall_path(item.patient, item), :title => "Erledigt"
      when :cancel: link_to_remote image_tag('delete.png'), :url => patient_recall_path(item.patient, item), :method => :delete
    end -%>
    <% end -%>
    <%= link_to image_tag('pdf.png'), patient_recall_path(item.patient, item, :format => :pdf) %>
  </td>
</tr>
