%table.table.table-striped.collection
  %tr
    %th= t_attr(:expire_date)
    %th= t_attr(:patient)
    %th= t_attr(:offer)
    %th= t_attr(:last_appointment)
    %th= t_attr(:printed)
    %th= t_attr(:remark)
    %th{:style => "min-width: 70px;"}

  = render collection

  %tr
    %th{:colspan => "7", :style => "text-align: right"}= paginate collection
