<div id="reminder_batch_form">
  <h3>Rechnungslauf</h3>
  <div class="box">
    <%= semantic_form_for @reminder_batch_job, :before => "showPrintingFlash('Rechnungslauf'); $('reminder_batch_form').remove()", :remote => true do |form| %>
      <%= form.inputs do %>
        <%= form.input :count, :input_html => {:size => 12, :autocomplete => 'off', 'data-autofocus' => true} %>
      <% end %>

      <%= form.buttons do %>
        <%= form.submit "Drucken", :class => "icon icon-print" %>
        <%= button_to_function "Abbrechen", "$('reminder_batch_form').remove()", :class => "icon icon-cancel" %>
      <% end %>
    <% end %>
  </div>
</div>
