%table.table.table-striped
  %tr
    %th.right= t_attr :created_at
    %th.right= t_attr :value_date
    %th.right= t_attr :total_count
    %th.right= t_attr :failed_count
    %th= t_attr :failed_jobs

  = render collection

= paginate collection
