%h2= t_title
%table.list
  %tr
    %th{:style => "text-align: right"}= t_attr :created_at
    %th{:style => "text-align: right"}= t_attr :value_date
    %th{:style => "text-align: right"}= t_attr :total_count
    %th{:style => "text-align: right"}= t_attr :failed_count
    %th= t_attr :failed_jobs
  = render @reminder_batch_jobs
  %tr
    %th{:colspan => "5", :style => "text-align: right"}= will_paginate @reminder_batch_jobs, :params => {:query => params[:query]}
