.contextual
  = link_to "Liste", reminder_batch_jobs_path, :class => "icon icon-index"
  = link_to "Erneut drucken", reprint_reminder_batch_job_path, :method => :post, :class => "icon icon-print"
%h2= t_title
%h3= t_attr :failed_jobs
= failed_jobs(resource)
%h3 Rechnungen
= render 'invoices/list', :collection => resource.invoices.page(0).per(resource.invoices.count)
