= f.fields_for :billing_vcard do |v|
  = v.fields_for :address do |a|
    .row-fluid
      .span7
        = f.input :use_billing_address, :label_html => {:class => 'input-important'}
    .row-fluid
      .span7
        .control-group{:class => "#{'error' if v.object.errors.include?(:honorific_prefix)}"}
          %label.control-label= "#{t_attr(:honorific_prefix, Vcard)}"
          .controls
            = v.input :honorific_prefix, :collection => HonorificPrefix.find(:all, :order => 'sex DESC, position').collect { |prefix| prefix.name }, :wrapper => :inline
            = link_to '#', 'data-directory-lookup' => 'patient[billing_vcard_attributes]', :title => t_action(:directory_lookup) do
              %i.icon-search.btn
    .row-fluid
      .span7
        .control-group{:class => "#{'error' if v.object.errors.include?(:family_name) or v.object.errors.include?(:given_name)}"}
          %label.control-label= "#{t_attr(:family_name, Vcard)}, #{t_attr(:given_name, Vcard)}"
          .controls
            = v.input :family_name, :wrapper => :inline
            = v.input :given_name, :wrapper => :inline
    .row-fluid
      .span7
        = a.input :street_address
    .row-fluid
      .span7
        = a.input :extended_address, :input_html => {'tabindex' => 1002}
      .span5
        = a.input :post_office_box, :input_html => {'tabindex' => 1003}
    .row-fluid
      .span7
        .control-group{:class => "#{'error' if a.object.errors.include?(:postal_code) or a.object.errors.include?(:locality)}"}
          %label.control-label= "#{t_attr(:postal_code, Vcard)}, #{t_attr(:locality, Vcard)}"
          .controls
            = a.input :zip_locality, :wrapper => :inline
