- patient = compact
.full_name
  = link_to "#{patient.vcard.family_name} #{patient.vcard.given_name}", patient
  .address
    - if patient.birth_date
      %span{:class => "#{patient.birth_date.starts_with?('01.01.') ? 'info-alert' : ''}"}= patient.birth_date
      %br/
  %div
    - if patient.remarks.present?
      %i= patient.remarks
      %br/
