- if @covercard_patient
  #covercard_result.box
    = render :partial => 'covercard_patients/create_form'
  %br/
  - [:exact_patients, :date_patients, :name_patients].each do |patients|
    - collection = instance_variable_get("@#{patients}")
    - unless collection.empty?
      %h2= t(patients, :scope => 'cydoc.covercard_search')
      %div{:id => "#{patients}_result"}
        %table.list
          = render :partial => 'covercard_patients/list_header'
          = render :partial => 'covercard_patients/item', :collection => collection
- else
  %h2= t('cydoc.covercard_search.no_result')
