<% if @covercard_patient %>
  <div id="covercard_result" class="box">
    <%= render :partial => 'covercard_patients/create_link' %>
  </div>
  <br/>
  <% [:exact_patients, :date_patients, :name_patients].each do |patients| %>
    <% collection = instance_variable_get("@#{patients}") %>
    <% unless collection.empty? %>
      <h2><%= t(patients, :scope => 'cydoc.covercard_search') %></h2>
      <div id="<%= patients %>_result">
        <table class="list">
          <%= render :partial => 'covercard_patients/list_header' %>
          <%= render :partial => 'covercard_patients/item', :collection => collection %>
        </table>
      </div>
    <% end %>
  <% end %>
<% else %>
  <h2><%= t('cydoc.covercard_search.no_result') %></h2>
<% end %>
