= form_for setup_patient(@patient), :remote => true do |patient|
  .contextual
    = link_to "Speichern", {:url => patient_path(@patient), :with => "this.up('form').serialize()"}, :class => "icon icon-save", :remote => true
    = link_to "Abbrechen", {:url => patient_path(@patient), :method => :get}, :class => "icon icon-cancel", :remote => true
  = render :partial => 'form', :locals => {:patient => patient}
  %p
    = patient.submit 'Speichern', :class => "icon icon-save"
    = button_to "Abbrechen", patient_path(@patient), :method => :get, :method => remote, :class => "icon icon-cancel"
