<%= remote_form_for setup_patient(@patient) do |patient| %>
  <div class="contextual">
    <%= link_to "Speichern", {:url => patient_path(@patient), :with => "this.up('form').serialize()"}, :class => "icon icon-save", :remote => true %>
    <%= link_to "Abbrechen", {:url => patient_path(@patient), :method => :get}, :class => "icon icon-cancel", :remote => true %>
  </div>

  <%= render :partial => 'form', :locals => {:patient => patient} %>

  <p>
    <%= patient.submit 'Speichern', :class => "icon icon-save" %>
    <%= button_to_remote "Abbrechen", {:url => patient_path(@patient), :method => :get}, :class => "icon icon-cancel" %>
  </p>
<% end %>
