<%= error_messages_for :patient %>

<%= render :partial => 'personal_form' %>

<h3>Kontakt</h3>
<div class="box" id="phone_number_form">
  <% fields_for @patient do |patient| %>
    <% patient.fields_for :phone_numbers do |phone_number| %>
      <p>
        <%= phone_number.select :phone_number_type, ['Tel. privat', 'Tel. geschäft', 'Handy', 'Fax', 'E-Mail'], :label => "Art" %>
        <%= phone_number.text_field :number, :size => 12, :autocomplete => 'off', :label => "Nummer" %>
      </p>
    <% end %>
  <% end %>
</div>

<h3>Versicherungen</h3>
<div class="box" id="insurance_policy_form">
  <% fields_for @patient do |patient| %>
    <% patient.fields_for :insurance_policies do |insurance_policy| %>
      <p>
        <%= insurance_policy.select :policy_type, {'Krankenversicherung' => 'KVG', 'Unfallversicherung' => 'UVG'}, :label => "Art" %>
        <%= insurance_policy.select :insurance_id, Insurance.find(:all, :include => :vcard, :order => 'vcards.full_name').collect { |i| [i.to_s, i.id] }, :include_blank => true, :label => "Versicherung" %>
        <%= insurance_policy.text_field :number, :size => 12, :autocomplete => 'off', :label => "Nummer" %>
      </p>
    <% end %>
  <% end %>
</div>
