= boot_alert(t('flash.action.dunning_stop'), 'error') if resource.dunning_stop?

= simple_form_for resource do |f|
  = render 'patients/personal_form', :f => f

  = f.fields_for :insurance_policies, resource.kvg_insurance_policy do |insurance_policy|
    = render 'insurance_policies/form_fields', :f => insurance_policy
    = render 'patients/billing_form', :f => f
    .row-fluid
      .span12
        = f.input :remarks, :input_html => {:class => 'span11', :rows => 4}
  .form-actions
    = f.button :submit

- content_for :sidebar do
  = render 'patients/sidebar', :resource => resource
