<tr style="cursor: pointer" onclick="window.location='<%= patient_path(item) %>'">
  <td><b><%= item.full_name %></b></td>
  <td><%= address(item.vcard, ', ') %></td>
  <td style="text-align: right"><%= item.doctor_patient_nr %></td>
  <td style="text-align: right"><%= item.birth_date %></td>
</tr>
