<tr style="cursor: pointer" onclick="window.location='<%= url_for(:only_path => false, :controller => 'patients', :action => 'show', :id => list) %>'">
  <td><b/><%=h list.vcards.first.full_name %></b></td>
  <td><%= address(list.vcards.first.full_name, ', ') %></td>
  <td><%=h list.doctor_patient_nr %></td>
  <td><%=h list.birth_date.strftime('%d.%m.%Y') %></td>
</tr>
