  <% for patient in @patients %>
    <% @patient = patient %>
    <% @vcard = patient.vcard %>
    <tr>
      <td>
        <%= link_to image_tag("select.png"), :update => 'edit_form', :url => { :controller => 'patients', :action => 'edit_inline', :id => @patient, :case_id => @case }, :remote => true %>
      </td>
      <td><%= in_place_editor_field :vcard, :family_name %></td>
      <td><%= in_place_editor_field :vcard, :given_name %></td>
      <td><%= in_place_editor_field :vcard, :street_address %></td>
      <td><%= in_place_editor_field :vcard, :postal_code %></td>
      <td><%= in_place_editor_field :vcard, :locality %></td>
      <td><%= in_place_editor_field :patient, :birth_date %></td>
      <td><%=h patient.doctor.name if patient.doctor %></td>
      <td><%= in_place_editor_field :patient, :doctor_patient_nr %></td>
      <td><%= patient.insurance.vcard.full_name if patient.insurance %></td>
      <td><%= in_place_editor_field :patient, :insurance_nr %></td>
      <td>
        <%= link_to image_tag("show.png"), :controller => 'patients', :action => 'show', :id => @patient %>
      </td>
    </tr>
  <% end %>
