<%= javascript_tag "$('patient_vcard_attributes_given_name').focus()" %>
<h3><%= t('cydoc.title.personal_data') %></h3>
<div class="box" id="patient-personal">
<%= fields_for @patient do |patient| %>
  <%= patient.fields_for :vcard do |vcard| %>

    <table style="width: 100%">
      <tr>
        <th><%= t_attr(:salutation, Patient) %></th><td><%= vcard.select :honorific_prefix, HonorificPrefix.all(:order => 'sex DESC, position').collect { |prefix| prefix.name }, :include_blank => true %></td>
        <th><%= t_attr(:gender, Patient) %></th><td><%= patient.select :sex, {t_attr(:female, Patient) => 'F', t_attr(:male, Patient) => 'M'}, :include_blank => true, :size => 12 %></td>
      </tr>
      <tr>
        <th><%= t_attr(:family_name, Patient) %>, <%= t_attr(:given_name, Patient) %></th>
        <td>
          <div class="names-block"><%= vcard.text_field :family_name %></div>
          <div class="names-block"><%= vcard.text_field :given_name %></div>
        </td>
        <th><%= t_attr(:birth_date, Patient) %></th><td><%= patient.date_field :birth_date, :size => 12, :autocomplete => false %></td>
      </tr>
      <tr>
        <th><%= t_attr(:street_address, Patient) %></th><td><%= vcard.text_field :street_address %></td>
        <th><%= t_attr(:doctor_patient_nr, Patient) %></th><td><%= patient.text_field :doctor_patient_nr, :size => 15, :readonly => true %></td>
      </tr>
      <tr>
        <th><%= t_attr(:extended_address, Vcard) %></th><td><%= vcard.text_field :extended_address %></td>
        <th><%= t_attr(:post_office_box, Vcard) %></th><td><%= vcard.text_field :post_office_box %></td>
      </tr>
      <tr>
        <th><%= t_attr(:postal_code, Patient) %>, <%= t_attr(:locality, Patient) %></th><td><%= vcard.text_field :postal_code, :size => 9 %> <%= vcard.text_field :locality %></td>
      </tr>
      <tr>
        <th><%= t_attr(:covercard_code, Patient) %></th>
        <td><%= patient.text_field :covercard_code, :size => 20 %></td>
      </tr>
      <tr>
        <th><%= t_attr(:remarks, Patient) %></th>
        <td colspan="3"><%= patient.text_area :remarks, :rows => 3 %></td>
      </tr>
    </table>
  <% end %>
<% end %>
</div>

<%= observe_field 'patient_vcard_attributes_postal_code', :url => {:action => 'localities_for_postal_code'}, :with => 'postal_code' %>
<%= observe_field 'patient_vcard_attributes_locality', :url => {:action => 'postal_codes_for_locality'}, :with => 'locality' %>
