<%= javascript_tag "$('patient_vcard_attributes_given_name').focus()" %>
<h3><%= t('cydoc.title.personal_data') %></h3>
<div class="box" id="patient-personal">
<% fields_for @patient do |patient| %>
  <% patient.fields_for :vcard do |vcard| %>

    <table style="width: 100%">
      <tr>
        <th><%= t_attr(:salutation) %></th><td><%= vcard.select :honorific_prefix, HonorificPrefix.find(:all, :order => 'sex DESC, position').collect { |prefix| prefix.name } %></td>
        <th><%= t_attr(:gender) %></th><td><%= patient.select :sex, {t_attr(:female) => 'F', t_attr(:male) => 'M'}, :include_blank => true, :size => 12 %></td>
      </tr>
      <tr>
        <th><%= t_attr(:family_name) %>, <%= t_attr(:given_name) %></th><td><%= vcard.text_field :family_name, :style => "width: 45%" %> <%= vcard.text_field :given_name, :style => "width: 45%" %></td>
        <th><%= t_attr(:birth_date) %></th><td><%= patient.date_field :birth_date, :size => 12, :autocomplete => false %></td>
      </tr>
      <tr>
        <th><%= t_attr(:street_address) %></th><td><%= vcard.text_field :street_address %></td>
        <th><%= t_attr(:doctor_patient_nr) %></th><td><%= patient.text_field :doctor_patient_nr, :size => 15, :readonly => true %></td>
      </tr>
      <tr>
        <th><%= t_attr(:postal_code) %>, <%= t_attr(:locality) %></th><td><%= vcard.text_field :postal_code, :size => 9 %> <%= vcard.text_field :locality %></td>
      </tr>
      <tr>
        <th><%= t_attr(:remarks) %></th>
        <td colspan="3"><%= patient.text_area :remarks, :rows => 3 %></td>
      </tr>
      <tr>
        <th><%= t_attr(:dunning_stop) %></th>
        <td colspan="3"><%= patient.check_box :dunning_stop %></td>
      </tr>
    </table>
  <% end %>
<% end %>
</div>

<%= observe_field 'patient_vcard_attributes_postal_code', :url => {:action => 'localities_for_postal_code'}, :with => 'postal_code' %>
<%= observe_field 'patient_vcard_attributes_locality', :url => {:action => 'postal_codes_for_locality'}, :with => 'locality' %>
