<div class="contextual">
    <%= link_to_remote "Leistung erfassen", {:update => 'new_service_record', :url => {:controller => :tariff_items, :action => :new_inline, :patient_id => @patient}}, :class => "icon icon-add" %>
    <%= link_to_remote "Rechnung erstellen", {:update => 'new_service_record', :url => {:controller => :invoices, :action => :new_inline, :patient_id => @patient}}, :class => "icon icon-incoive" %>
</div>

<h3>Leistungen</h3>
<div class="box" id="new_service_record">
<div id="search_form">
  <%= render :partial => 'tariff_items/search_form' %>
  <%= loading_indicator_tag :id => 'search' %>
</div>

<div id="search_results">
  <%= render :partial => 'tariff_items/list' %>
</div>
</div>

<div id="services_list">
  <%= render :partial => 'service_records/list', :locals => { :items => @patient.service_records } %>
</div>
