<div id="patient-personal">
  <div class="contextual">
      <%= link_to t('cydoc.actions.update'), {:url => edit_patient_path(@patient), :method => :get}, :class => "icon icon-edit", :remote => true %>
      <%= link_to t('cydoc.actions.covercard_update'), covercard_update_path(@patient, @patient.covercard_code), :class => "icon icon-edit" unless @patient.covercard_code.blank? %>
      <%= link_to t('cydoc.actions.delete'), {:url => patient_path(@patient), :method => :delete, :confirm => t_confirm_delete(@patient)}, :class => "icon icon-delete" if @patient.deletable?, :remote => true %>
      <%= link_to t('cydoc.actions.kg_label'), {:url => print_full_label_patient_path(@patient), :method => :post}, :class => "icon icon-print", :remote => true %>
      <%= link_to t('cydoc.actions.address_label'), {:url => print_label_patient_path(@patient), :method => :post}, :class => "icon icon-print", :remote => true %>
  </div>

  <h3><%= t('cydoc.title.personal_data') %></h3>
  <div class="box">
  <% @vcard = @patient.vcard %>
  <table style="width: 100%">
    <tr>
      <th rowspan="3" style="width: 15%; vertical-align: top"><%= t_attr(:address) %></th>
      <td rowspan="3">
        <%= in_place_editor_field :vcard, :family_name %> <%= in_place_editor_field :vcard, :given_name %><br />
        <%- if @vcard.extended_address.present? %>
          <%= in_place_editor_field :vcard, :extended_address %><br />
        <%- end %>
        <%= in_place_editor_field :vcard, :street_address %><br />
        <%- if @vcard.post_office_box.present? %>
          <%= in_place_editor_field :vcard, :post_office_box %><br />
        <%- end %>
        <%= in_place_editor_field :vcard, :postal_code %> <%= in_place_editor_field :vcard, :locality %>
     </td>
      <th style="width: 15%"><%= t_attr(:birth_date) %></th><td><%=h @patient.birth_date.blank? ? 'unbekannt' : l(@patient.birth_date) %></td>
    </tr>
    <tr>
      <th><%= t_attr(:gender) %></th><td><%=h @patient.sex %></td>
    </tr>
    <tr>
      <th><%= t_attr(:doctor_patient_nr) %></th><td><%=h @patient.doctor_patient_nr %></td>
    </tr>
    <tr>
      <th><%= t_attr(:covercard_code) %></th>
      <td><%=h @patient.covercard_code %></td>
    </tr>
    <tr>
      <th><%= t_attr(:remarks) %></th>
      <td colspan="3"><%= in_place_editor_field :patient, :remarks %></td>
    </tr>
  </table>
  </div>
</div>
