<div class="contextual">
    <%= link_to "Ändern", edit_patient_path(@patient), :class => "icon icon-edit" %>
</div>

<h3>Adresse</h3>
<div class="box">
  <b><%=h @patient.name %></b><br />
  <%=h @patient.street_address %><br />
  <%=h @patient.postal_code %> <%=h @patient.locality %><br />
  <%=h @patient.birth_date %> <%=h @patient.sex %><br />
</div>

<div class="contextual">
  <%= link_to_remote "Kontakt erfassen", {:url => new_patient_phone_number_url(@patient), :method => :get}, :class => "icon icon-add" %>
</div>
<h3>Kontakt</h3>
<div class="box">
  <div id="new_phone_number" class="new_phone_number"></div>

  <table id="phone_numbers">
    <% for phone_number in @patient.phone_numbers -%>
      <%= render :partial => 'phone_numbers/item', :collection => @patient.phone_numbers %>
    <% end -%>
  </table>
</div>

<h3>Versicherung</h3>
<div class="box">
  <table>
    <tr>
      <th>Krankenversicherung</th>
      <td>
        <% if !@patient.insurance.nil? %>
          <%=h @patient.insurance.to_s %> <%=h "##{@patient.insurance_nr}" unless @patient.insurance_nr.blank? %><br />
        <% end %>
      </td>
    </tr>
  </table>
</div>
