<%= render :partial => 'show_personal' %>
<%= render :partial => 'show_billing' %>
<%# render :partial => 'appointments/patient_list' %>
<%= render :partial => 'recalls/patient_list' %>

<div class="contextual">
  <%= link_to_remote t('cydoc.actions.new_contact'), {:url => new_vcard_phone_number_url(@patient.vcard), :method => :get}, :class => "icon icon-add" unless @patient.new_record?%>
</div>
<%= render 'phone_numbers/list', :phone_numbers => @patient.phone_numbers %>

<%= render :partial => 'insurance_policies/list' %>

<% content_for :sidebar do %>
  <%= render :partial => 'sidebar' %>
<% end %>
