<div id="patient-sidebar" class="sub-tabs">
  <div class="contextual" style="margin-right: 2em">
    <%= link_to t('cydoc.actions.new_case'), {:url => new_patient_treatment_path(@patient), :method => :get}, :class => "icon icon-add", :remote => true %>
  </div>
  <h3 style="margin-right: 1em"><%= t('cydoc.title.cases') %></h3>

  <ul id="sub-tab-sidebar-treatments">
  <% for treatment in @patient.treatments %>
    <li id="sub-tab-treatments-<%= treatment.id %>">
      <%= link_to "#{treatment.to_s(:short)}", {:url => treatment, :method => :get}, :remote => true %>
        <ul id="sub-tab-sidebar-invoices">
        <% for invoice in treatment.invoices %>
          <li id="sub-tab-invoices-<%= invoice.id %>">
            <%= link_to "#{invoice.to_s(:short)}", {:url => invoice, :method => :get}, :class => ['invoice', invoice.state, invoice.reminded? ? "reminded" : ""].join(' '), :remote => true %>
          </li>
        <% end %>
        </ul>
    </li>
  <% end %>
  </ul>
</div>
