<%= tab_container 'patient', @patient.to_s,
      [{:name => 'personal', :partial => 'patients/edit', :label => t('cydoc.tab_container.patient.personal_data')},
       {:name => 'treatments', :partial => 'patients/treatment_tab', :label => t('cydoc.tab_container.patient.treatment')},
       {:name => 'invoices', :partial => 'patients/invoice_tab', :label => t('cydoc.tab_container.patient.invoice')},
      ] %>

<script type="text/javascript">
  <% @updated_attributes.each do |k, v| %>
    jQuery('#patient_<%= k %>').addClass('attribute-updated').after('<a href="#" class="reset-updated-attribute" data-value="<%= v %>"><%= t_action(:revert) %></a>');
  <% end %>

  <% @updated_insurance_policies.each do |k, v| %>
    jQuery('#patient_<%= k %>').addClass('attribute-updated').after('<a href="#" class="reset-updated-attribute" data-value="<%= v %>"><%= t_action(:revert) %></a>')
  <% end %>
</script>
