= boot_page_title

%table.table.table-striped
  %tr
    %th= t_model(Patient)
    %th= t_attr(:remarks, Patient)
    %th= t_attr(:doctor, Patient)

  - collection.each do |resource|
    %tr
      %td= link_to resource, resource, 'data-href-container' => 'tr'
      %td= resource.remarks
      %td= resource.doctor
