<% vcard = @patient.vcard %>

<style>
body { margin: 0; padding: 1px; }
</style>

<div style="font-family: 'Vera Sans',Arial,sans-serif; font-size: 6pt; width: 6.5cm">
  <div class="full_name" style="font-size: 7pt">
    <%=h "##{@patient.doctor_patient_nr}" unless @patient.doctor_patient_nr.blank? %><br/>
    <%=h vcard.full_name %>
    <%=h @patient.birth_date %><br/>

  </div>

  <div style="height: 0.3em"/>

  <div class="address">
    <%=h vcard.street_address  %><br/>
    <%=h vcard.postal_code  %> <%=h vcard.locality %>
  </div>

  <div style="height: 0.3em"/>

  <div id="phone_numbers" style="font-style: italic; font-size: 6pt">
    <%= @patient.phone_numbers.find(:all, :limit => 2).map{|number| "#{number.phone_number_type}: #{number.number}"}.join('<br/>') %>
  </div>

  <div style="height: 0.3em"/>
    <% kvg = @patient.insurance_policies.by_policy_type('KVG').first %>
    <%=h kvg.to_s if kvg %><br/>
  <div>
  </div>
</div>
