<div class="contextual">
  <%= link_to t('cydoc.actions.create'), new_patient_path, :class => "icon icon-add" %>
  <%= link_to_remote t('cydoc.actions.show_all'), {:url => patients_path(:all => true), :method => :get}, :class => "icon icon-index" %>
</div>
<h2>Patienten</h2>

<script type="text/javascript">
  Event.observe(window, 'load', function() {$('search_query').focus()}, false);
</script>

<div id="search_form">
  <%= render :partial => 'search_form' %>
  <%= loading_indicator_tag :id => 'search' %>
</div>

<div id="search_results">
  <%= render :partial => 'list' %>
</div>
