<h2>Patient erfassen</h2>
<div class="box">
  <% form_for setup_patient(@patient) do |patient| %>
    <div class="contextual">
      <%= link_to_function "Speichern", "this.up('form'.submit()", :class => "icon icon-save" %>
      <%= link_to "Abbrechen", patients_path, :class => "icon icon-cancel" %>
    </div>

    <%= render :partial => 'form', :locals => {:patient => patient} %>

  <p>
    <%= patient.submit 'Speichern', :class => "icon icon-save" %>
    <%= button_to_function "Abbrechen", "window.location.href = \"#{escape_javascript(patients_path)}\"", :class => "icon icon-cancel" %>
  </p>
  <% end %>
</div>
