.contextual
  = icon_link_to :update, '#', :type => 'primary', :icon => 'download-alt', :class => 'submit-button'
  = contextual_link_to :delete, nil, :type => 'danger'
  = contextual_link_to :index

= boot_page_title

= render 'form'

- content_for :sidebar do
  =# render 'cases/compact_list', :cases => @patient.cases
