<div class="contextual">
    <%= link_to "Suchen", patients_path, :class => "icon icon-search" %>
    <%= link_to "Erfassen", new_patient_path, :class => "icon icon-add" %>
</div>

<h2><%=h @patient.to_s %></h2>
<% tabs = patient_tabs(@patient) %>
<% selected_tab = params[:tab] ? params[:tab].to_s : tabs.first[:name] %>
<div class="tabs">
  <ul>
  <% tabs.each do |tab| -%>
    <li><%= link_to tab[:label], { :tab => tab[:name] },
                                   :id => "tab-#{tab[:name]}",
                                   :class => (tab[:name] != selected_tab ? nil : 'selected'),
                                   :onclick => "showTab('#{tab[:name]}'); this.blur(); return false;" %></li>
  <% end -%>
  </ul>
</div>

<div class="box tab-box">
  <% tabs.each do |tab| -%>
  <%= content_tag('div', render(:partial => tab[:partial]),
                         :id => "tab-content-#{tab[:name]}",
                         :style => (tab[:name] != selected_tab ? 'display:none' : nil),
                         :class => 'tab-content') %>
  <% end -%>
</div>
