.contextual
  = link_to "Ändern", edit_doctor_path(@doctor), :class => "icon icon-edit"
%h3 VESR Einstellungen
.box
  %table
    %tr
      %th
        = t_attr :print_payment_for
        \:
      %td= t(@doctor.print_payment_for, :scope => :boolean)
    - if @doctor.esr_account
      %tr
        %th Bank:
        %td= @doctor.esr_account.bank
      %tr
        %th ESR:
        %td= @doctor.esr_account.esr_id
      %tr
        %th Postcheck Konto:
        %td= @doctor.esr_account.pc_id
