<div class="contextual">
    <%= link_to "Suchen", doctors_path, :class => "icon icon-search" %>
    <%= link_to "Anzeigen", @doctor, :class => "icon icon-show" %>
    <%= link_to "Erfassen", new_doctor_path, :class => "icon icon-add" %>
</div>

<h3>Arzt anpassen</h3>
<%= semantic_form_for @doctor do |f| %>
  <div class="box">
    <%= render :partial => 'form' %>
    <% f.buttons do %>
      <%= f.commit_button %>
    <% end %>
  </div>
<% end %>
