<div class="contextual">
    <%= link_to "Suchen", doctors_path, :class => "icon icon-search" %>
    <%= link_to "Anzeigen", @doctor, :class => "icon icon-show" %>
    <%= link_to "Erfassen", new_doctor_path, :class => "icon icon-add" %>
</div>

<h3>Arzt anpassen</h3>
<% form_for @doctor, :builder => Rubaidh::TabularForm::TabularFormBuilder do |f| %>
  <div class="box">
    <%= render :partial => 'form' %>
    <%= f.submit 'Speichern' %>
  </div>
<% end %>
