<div class="contextual">
    <%= link_to "Anzeigen", @doctor, :class => "icon icon-show" %>
</div>

<h3>Adresse ändern</h3>

<div class="box">
  <% form_for @doctor, :builder => Rubaidh::TabularForm::TabularFormBuilder do |f| %>
    <table>
      <%= render :partial => 'vcards/form', :locals => { :vcard_name => 'vcard', :vcard => @doctor.vcard } %>
      <%= render :partial => 'form' %>
      <%= render :partial => 'account_form' %>
    </table>
    <%= f.submit 'Speichern' %>
  <% end %>
</div>
