.contextual
  = link_to "Suchen", doctors_path, :class => "icon icon-search"
  = link_to "Anzeigen", @doctor, :class => "icon icon-show"
  = link_to "Erfassen", new_doctor_path, :class => "icon icon-add"
%h3 Arzt anpassen
= semantic_form_for @doctor do |f|
  .box
    = render :partial => 'form'
    - f.buttons do
      = f.commit_button
