<div class="contextual">
  <%= link_to "VESR Datei einlesen", new_esr_booking_path, :class => "icon icon-book" %>
</div>

<h2>VESR Buchungsläufe</h2>
<div id="vesr_list">
  <table class="list">
    <%= render :partial => 'esr_bookings/list_header' %>
    <%= render :partial => 'esr_bookings/item', :collection => @esr_files %>
    <%= render :partial => 'esr_bookings/list_footer' %>
  </table>
</div>

<%= render :partial => 'sidebar' %>
