<div class="contextual">
  <%= link_to_function "Protokoll drucken", 'window.print()', :class => "icon icon-print" %>
  <%= link_to "VESR Liste", esr_bookings_path, :class => "icon icon-book" %>
</div>
<h2>VESR Protokoll vom <%= l(@esr_file.updated_at.to_date) %></h2>
<%= render :partial => 'list_records', :object => @esr_file.esr_records.valid %>

<% unless @esr_file.esr_records.bad.empty? %>
  <h3>Falscher Betrag</h3>
  <%= render :partial => 'list_records', :object => @esr_file.esr_records.bad %>
<% end %>

<% unless @esr_file.esr_records.missing.empty? %>
  <h3>Rechnung nicht gefunden</h3>
  <%= render :partial => 'list_records', :object => @esr_file.esr_records.missing %>
<% end %>

<%= render :partial => 'sidebar' %>
