<div class="contextual">
  <%= link_to_function "Protokoll drucken", 'window.print()', :class => "icon icon-print" %>
</div>
<h2>VESR Protokoll vom <%= @esr_file.updated_at.strftime('%d.%m.%Y') %></h2>
<%= render :partial => 'list_records', :object => @esr_file.esr_records.valid %>

<h3>Fehlerhafte Buchungen</h3>
<%= render :partial => 'list_records', :object => @esr_file.esr_records.invalid %>

<%= render :partial => 'sidebar' %>
