- collection.group_by(&:doctor).each do |doctor, invoices|
  - if doctor
    .contextual
      = icon_link_to(:print_request_document, print_request_document_returned_invoices_path(:doctor_id => doctor.id), :method => :post)
      = icon_link_to(:pdf, request_document_returned_invoices_path(:doctor_id => doctor.id, :format => :pdf), :method => :get)
    %h3= link_to doctor, url_for(:by_doctor_id => doctor.id)
  - else
    %h3= t('cydoc.title.unknown_assigning_doctor')

  %table.table{:class => "#{collection.first.class.to_s.downcase.pluralize} collection"}
    %thead
      %tr
        %th{:style => "width: 15%"}= t_attr(:state)
        %th{:style => "width: 15%"}= t_model(Invoice)
        %th= t_model(Patient)
        %th.action-links{:style => "width: 72px"}
        
    %tbody
      = render invoices
