= simple_form_for resource do |f|

  - @invoice = resource.invoice
  = render 'invoices/show_main'

  = f.fields_for :invoice do |i|
    = i.fields_for :patient do |p|
      = render 'patients/personal_form', :f => p
      = render 'patients/billing_form', :f => p

  - content_for :sidebar do
    = render 'patients/sidebar', :resource => resource.patient

  = f.input :remarks, :input_html => {:rows => 4, :cols => 40}

  .form-actions
    %button.btn{:name => 'commit', :value => 'next'}= t_action(:update_remarks)
    - for event in resource.aasm_events_for_current_state
      %button.btn{:name => 'commit', :value => event}= t_action(event)
