- semantic_form_for resource do |f|
  = hidden_field_tag :queue, @queue

  - @invoice = resource.invoice
  = render 'invoices/show_main'

  - @patient = resource.patient

  = render 'patients/personal_form'
  = render 'patients/contacts_form'

  - content_for :sidebar do
    = render 'patients/sidebar'

  = f.semantic_errors

  - f.inputs do
    = f.semantic_errors :invoice
    = f.input :remarks, :input_html => {:rows => 4, :cols => 40}

  - f.buttons do
    - for event in resource.aasm_events_for_current_state
      %button{:name => 'commit', :value => event}= t_action(event)
