- semantic_form_for resource do |f|
  - @invoice = resource.invoice
  = render 'invoices/show_main'

  - @patient = resource.patient
  = render 'patients/personal_form'
  - content_for :sidebar do
    = render 'patients/sidebar'

  = f.semantic_errors

  - f.inputs do
    = f.semantic_errors :invoice
    = f.input :remarks, :input_html => {:rows => 4, :cols => 40}

  - f.buttons do
    = f.commit_button
