.contextual
  = contextual_links_for
  - if @returned_invoice.invoice.treatment.cases.first
    = icon_link_to :show_order_form, hozr_url_for("cases/order_form/#{@returned_invoice.invoice.treatment.cases.first.id}"), :target => hozr_env

%h2= t_title

.box
  - if @returned_invoice.patient.blank?
    = render 'form'
  - else
    = render 'patient_form'
