.contextual
  = icon_link_to :index, returned_invoices_path
  = icon_link_to :delete, @returned_invoice, :method => :delete
  - if current_tenant.settings['modules.hozr']
    - if @returned_invoice.invoice.treatment.cases.first
      = icon_link_to :show_order_form, hozr_url_for("cases/order_form/#{@returned_invoice.invoice.treatment.cases.first.id}"), :target => hozr_env

%h2= t_title

#tab-content-invoices
#tab-content-treatments
.box
  - if @returned_invoice.patient.blank?
    = render 'form'
  - else
    = render 'patient_form'
