%table.list{:style => "width: 100%"}
  %tr
    %th= t_attr :value_date, EsrRecord
    %th= t_attr :customer, EsrRecord
    %th= t_attr :state, EsrRecord
    %th.currency= t_attr :amount, EsrRecord
    %th.currency= t_attr :payment_amount, EsrRecord
    %th.currency= t_attr :saldo, EsrRecord
    %th.action-links

  = render @esr_records || esr_records
