<%= render 'users/demo' if Rails.env.demo? %>

<% if flash[:error] %><div class="warning"><%= flash[:error] %></div><% end %>
<div id="login-form">
  <% form_tag authentication_session_path do -%>
    <table>
      <tr>
          <td align="right"><label for="username">Login</label>:</td>
          <td align="left"><p><%= text_field_tag 'login', @login, :size => 40 %></p></td>
      </tr>
      <tr>
          <td align="right"><label for="password">Passwort</label>:</td>
          <td align="left"><%= password_field_tag 'password', nil, :size => 40 %></td>
      </tr>
      <tr>
          <td align="left">
          </td>
          <td align="right">
              <input type="submit" name="submit" value="Anmelden" />
          </td>
      </tr>
    </table>
    <%= javascript_tag "Form.Element.focus('login');" %>
  <% end -%>
</div>
