= render 'users/demo' if Rails.env.demo?
#login-form
  = form_tag authentication_session_path do
    %table
      %tr
        %td{:align => "right"}
          %label{:for => "username"}>= t_attr(:login, User)
          \:
        %td{:align => "left"}
          %p= text_field_tag 'login', @login, :size => 40
      %tr
        %td{:align => "right"}
          %label{:for => "password"}>= t_attr(:password, User)
          \:
        %td{:align => "left"}= password_field_tag 'password', nil, :size => 40
      %tr
        %td{:align => "left"}
        %td{:align => "right"}
          %input{:name => "submit", :type => "submit", :value => t('cydoc.user_bar.login')}/
    = javascript_tag "Form.Element.focus('login');"
