<tr id="appointment_<%= item.id %>">
  <td><%=h item.date %></td>
  <td><%=h [item.from, item.to].compact.join(' - ') %></td>
  <td><%= link_to item.patient, item.patient %></td>
  <td><%=h item.remarks %></td>
  <td>
    <% for state in item.aasm_events_for_current_state -%>
    <%= 
    case state
      when :accept: link_to_remote image_tag('true.png'), :url => accept_patient_appointment_path(item.patient, item), :title => "Termin akzeptiert"
      when :cancel: link_to_remote image_tag('delete.png'), :url => patient_appointment_path(item.patient, item), :title => "Termin löschen", :method => :delete
    end -%>
    <% end -%>
  </td>
</tr>
