<tr id="appointment_<%= patient_item.id %>">
  <th>Termin</th>
  <td><%=h patient_item.date %></td>
  <td>
    <%=h patient_item.from %> - <%=h patient_item.to %>
  </td>
  <td><%=h patient_item.remarks %></td>
  <td>
    <%= link_to_remote image_tag('edit.png'), {:url => edit_patient_appointment_path(@patient, patient_item), :method => :get} %>
    <% for state in patient_item.aasm_events_for_current_state -%>
    <%= 
    case state
#      when :obey:   link_to_remote image_tag('true.png'), :url => obey_patient_appointment_path(patient_item.patient, patient_item), :title => "Erledigt"
      when :cancel: link_to_remote image_tag('delete.png'), :url => patient_appointment_path(patient_item.patient, patient_item), :method => :delete
    end -%>
    <% end -%>
  </td>
</tr>
