<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Simon Huerlimann &lt;simon.huerlimann@cyt.ch&gt;" />
    <meta name="keywords" content="Praxis" />

    <link rel="shortcut icon" href="/favicon.ico" />
    
    <%= stylesheet_link_tag 'redmine' %>
    <%= stylesheet_link_tag 'zytolabor' %>
    <%= stylesheet_link_tag 'navigation' %>
    <%= stylesheet_link_tag 'cyto' %>
    <%= stylesheet_link_tag 'result_report' %>
    <%= stylesheet_link_tag 'invoice' %>
    
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'will_paginate' %>
    <%= javascript_include_tag 'tabbing' %>

    <title>CytDoc - <%= controller.action_name %></title>
  </head>
  <body>
    <div id="wrapper">
       <div id="header">
          <div style="float: left">
            <%= image_tag 'logo-left-small.png' %>
            <%= image_tag 'logo-right-small.png' %>
          </div>
          <div id="right-menu">
            <div><%= render :partial => 'users/user_bar' %></div>
            <div><%= render :partial => '/search/form' %></div>
          </div>
          <div id="main-menu">
            <ul>
              <li><%= link_to "Home", :controller => "/" %></li>
              <li><%= link_to "Patienten", :controller => 'patients' %></li>
              <li><%= link_to "Rechnungen", :controller => 'invoices' %></li>
              <li><%= link_to "Versicherungen", :controller => 'insurances' %></li>
              <li><%= link_to "&Auml;rzte", :controller => 'doctors' %></li>
              <li><%= link_to "Leistungen", :controller => 'tariff_items' %></li>
              <li><%= link_to "Medikamente", :controller => 'drugs' %></li>
            </ul>
          </div>
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
      <div id="content">
          <%= yield %>
    </div>
  </body>
</html>
