!!!
%html
  %head
    %meta{:charset => 'utf-8'}/

    = favicon_link_tag 'favicon.ico'

    = stylesheet_link_tag 'application', :media => 'screen, projection, print'

    = javascript_include_tag "application"

    = csrf_meta_tag
    %title
      = "#{content_for :page_title} - #{t('application.title')}"

  %body{:style => 'margin-top: 60px'}
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to root_path, :class => 'brand' do
            = t('application.title')

          .nav-collapse
            = render_navigation(:level => 1..2, :renderer => BootstrapTopbarList, :expand_all => true)
            = form_tag search_path, :class => "navbar-search pull-left" do
              %input.search-query{:name => "query", :placeholder => "Suche", :type => "text"}/
            %div= render 'users/user_bar'
    .container-fluid
      .row-fluid
        #main.span10
          .content
            #notice_flash
            - if notice
              = boot_alert(notice, 'success')
            - if alert
              = boot_alert(alert, 'error')
            = yield
        #sidebar.span2
          = render_sidebars

    %footer.footer
      .container-fluid
        %p.pull-right
          = link_to "Deutsch", :locale => 'de-CH'
          = link_to "English", :locale => 'en'
        %p
          CyDoc is built by <a href="http://cyt.ch" target="_blank">CyT GmbH</a>.
          Code licensed under the <a href="http://www.gnu.org/licenses/agpl-3.0.html" target="_blank">GNU AGPL 3</a>.
