<tr id="booking_<%= @booking.id %>">
  <td><%= @booking.value_date %></td>
  <td>
    <%= @booking.title %>
    <%= '<hr style="height: 1px; margin: 0"/>' unless (@booking.comments.blank?) %>
    <i><%= @booking.comments %></i>
  </td>
  <td><%= link_to @booking.reference.to_s, @booking.reference unless @booking.reference.nil? rescue 'Referenz' %></td>
  <td style="text-align: right"><%= (@booking.credit_account == @account) ? h(@booking.amount_as_string) : "<i>#{link_to(h(@booking.credit_account.code), account_path(@booking.credit_account), :title => h(@booking.credit_account.title))}</i>" %></td>
  <td style="text-align: right"><%= (@booking.debit_account == @account) ? h(@booking.amount_as_string) : "<i>#{link_to(h(@booking.debit_account.code), account_path(@booking.debit_account), :title => h(@booking.debit_account.title))}</i>" %></td>
  <td style="text-align: right"><%= currency_fmt(@saldo) %></td>
  <td style="border: none 0px; width: 44px">
    <%= link_to image_tag('edit.png'), {:url => edit_account_booking_path(@account, @booking, :page => params['page']), :method => :get }, :remote => true %>
    <%= link_to image_tag('delete.png'), {:url => account_booking_path(@account, @booking, :page => params['page']), :method => :delete, :confirm => "Buchung #{@booking.to_s} löschen?"}, :remote => true %>
  </td>
</tr>
