%tr
  %th= t_attr(:date)
  %th= t_attr(:text)
  %th= t_attr(:reference)
  %th{:style => "text-align: right"}= t_attr(:debit)
  %th{:style => "text-align: right"}= t_attr(:credit)
  %th{:style => "text-align: right"}= t_attr(:balance)
  %th
