<tr>
  <td><%=h item.code %></td>
  <td><%= link_to item.title, account_path(item, :by_value_period => params[:by_value_period]) %></td>
  <%- if @date %>
    <td style="text-align: right"><%= currency_fmt(item.saldo(@date)) %>
  <%- elsif params[:by_value_period] %>
    <td style="text-align: right"><%= currency_fmt(item.saldo(params[:by_value_period][:from]..params[:by_value_period][:to])) %>
  <%- else %>
    <td style="text-align: right"><%= currency_fmt(item.saldo) %>
  <%- end %>
</tr>
