%table.list
  %tr
    %th{:style => "width: 40%"}= t_attr(:title, Booking)
    %th{:style => "text-align: right; width: 20%"}= t_attr(:count, Booking)
    %th{:style => "text-align: right; width: 20%"}= t_attr(:average, Booking)
    %th{:style => "text-align: right; witdh: 20%"}= t_attr(:amount, Booking)
  - for record in @account.bookings.statistics
    %tr
      %td= record["title"]
      %td{:style => "text-align: right"}= record["count"]
      %td{:style => "text-align: right"}= currency_fmt record["avg"]
      %td{:style => "text-align: right"}= currency_fmt record["sum"]
  %tr
    %th= t_attr(:total, Booking)
    %th{:style => "text-align: right"}= @account.bookings.count
    %th{:style => "text-align: right"}= currency_fmt @account.bookings.average(:amount)
    %th{:style => "text-align: right"}= currency_fmt @account.bookings.sum(:amount)
