<table class="list">
  <tr>
    <th style="width: 40%"><%= t_attr(:title, Booking) %></th>
    <th style="text-align: right; width: 20%"><%= t_attr(:count, Booking) %></th>
    <th style="text-align: right; width: 20%"><%= t_attr(:average, Booking) %></th>
    <th style="text-align: right; witdh: 20%"><%= t_attr(:amount, Booking) %></th>
  </tr>
  <% for record in @account.bookings.statistics -%>
  <tr>
    <td><%= record["title"] %></td>
    <td style="text-align: right"><%= record["count"] %></td>
    <td style="text-align: right"><%= currency_fmt record["avg"] %></td>
    <td style="text-align: right"><%= currency_fmt record["sum"] %></td>
  </tr>
  <% end -%>
  <tr>
    <th><%= t_attr(:total, Booking) %></th>
    <th style="text-align: right"><%= @account.bookings.count %></th>
    <th style="text-align: right"><%= currency_fmt @account.bookings.average(:amount) %></th>
    <th style="text-align: right"><%= currency_fmt @account.bookings.sum(:amount) %></th>
  </tr>
</table>
