<div class="contextual">
  <%= link_to t('cydoc.actions.esr'), esr_bookings_path, :class => "icon icon-book" %>
</div>
<h2><%= t('cydoc.title.accounts') %></h2>

<table class="list">
  <%= render :partial => 'accounts/list_header' %>
  <%= render :partial => 'accounts/item', :collection => @accounts %>
  <%= render :partial => 'accounts/list_footer' %>
</table>

<%= render :partial => 'bookings/sidebar' %>
