<div class="contextual">
  <%= link_to "Kontoliste", accounts_path, :class => "icon icon-list" %>
</div>
<h2>Konto - <%= @account.title %></h2>

<table class="list booking_list">
  <tr>
    <th>Datum</th>
    <th>Text</th>
    <th>Referenz</th>
    <th style="text-align: right">Soll</th>
    <th style="text-align: right">Haben</th>
    <th style="text-align: right">Saldo</th>
  </tr>
  <% total_debit = 0; total_credit = 0 %>
  <% for booking in @account.bookings %>
  <% @booking = booking %>
  <% total_debit += booking.amount if booking.debit_account == @account %>
  <% total_credit += booking.amount if booking.credit_account == @account %>
  <tr id="booking_<%= booking.id %>">
    <td><%= in_place_editor_field :booking, :value_date %></td>
    <td>
      <%= in_place_editor_field :booking, :title %>
      <%= '<hr style="height: 1px; margin: 0"/>' unless (booking.comments.blank?) %>
      <i><%= in_place_editor_field :booking, :comments %></i>
    </td>
    <td><%= link_to booking.reference.to_s, booking.reference unless booking.reference.nil? rescue 'Referenz' %></td>
    <td style="text-align: right"><%= (booking.credit_account == @account) ? "<b>#{in_place_editor_field(:booking, :amount)}</b>&nbsp;CHF" : "<i>#{link_to(h(booking.credit_account.code), account_path(booking.credit_account), :title => h(booking.credit_account.title))}</i>" %></td>
    <td style="text-align: right"><%= (booking.debit_account == @account) ? "<b>#{in_place_editor_field(:booking, :amount)}</b>&nbsp;CHF" : "<i>#{link_to(h(booking.debit_account.code), account_path(booking.debit_account), :title => h(booking.debit_account.title))}</i>" %></td>
    <td style="text-align: right"><%= currency_fmt(total_credit - total_debit) %></td>
    <td style="border: none">
      <%= link_to_remote image_tag('delete.png'), {:url => booking_path(booking), :method => :delete, :confirm => "Buchung #{booking.to_s} löschen?"} %>
    </td>
  </tr>
  <% end %>
  <tr style="border-top: double 2px black; background-color: grey">
    <td>Umsatz</td>
    <td/>
    <td style="text-align: right"><%= currency_fmt(total_credit) %></td>
    <td style="text-align: right"><%= currency_fmt(total_debit) %></td>
    <td style="border: none"/>
  </tr>
  <tr style="border-top: double 2px black; background-color: grey">
    <td colspan="2">Aktueller Kontostand (per <%= DateTime.now.strftime("%d.%m.%Y %H:%M") %>)</td>
    <td/>
    <td/>
    <td style="text-align: right"><%= currency_fmt(total_credit - total_debit) %></td>
    <td style="border: none"/>
  </tr>
</table>
