.contextual
  = link_to t('cydoc.actions.new_booking'), new_booking_path, :class => "icon icon-add"
  = link_to t('cydoc.actions.accounts'), accounts_path, :class => "icon icon-index"
  = link_to t('cydoc.actions.print_account'), {:url => print_account_path(@account)}, :class => "icon icon-print", :remote => true
%h2
  = t_model(Account)
  \- #{@account.title}
= render :partial => 'booking_list'
= render :partial => 'bookings/sidebar'
